{% extends 'index.html' %}

{% block content %}
{% load static %}

<div id="encabezado_inventario">
    <button id="agregar">
        <img src="{% static 'img/Add_user.png' %}" style="width: 30px; height: 30px;" title="Añadir insumo"></img>
    </button>

    <select name="" id="listaInventario">
        <option value="">Cargos</option>
        <option value="{% url 'personal' %}">Personal</option>
    </select>
</div>

<div id="cuerpoInventario">

    <!-- TABLA CON SU RESPECTIVO CONTENIDO -->
    <table class="display tablaInventario" style="width:100%;">
        <thead>
            <!-- Columnas -->
            <tr>
                <th>Cargo</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <!-- Filas -->
        <tbody>
            <tr>
                <td>Administrador</td>
                <td class="actions">

                    <button class="actionButton btnEditar">
                        <a href="">
                            <img src="{% static 'img/Edit1.png' %}" alt="Editar" title="Editar insumo">
                        </a>
                    </button>

                    <button class="actionButton btnEliminar">
                        <a href="">
                            <img src="{% static 'img/delete1.png' %}" alt="Eliminar" title="Eliminar insumo">
                        </a>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}