{% extends 'index.html' %}

{% block content %}
{% load static %}

<div id="encabezado_inventario">
    <button id="agregar">
        <img src="{% static 'img/Add_user.png' %}" style="width: 30px; height: 30px;" title="Añadir insumo"></img>
    </button>

    <select name="" id="listaInventario">
        <option value="">Cargos</option>
        <option value="{% url 'personal' %}">Personal</option>
    </select>

    <!-- <input type="text" id="buscar" placeholder="Buscar"> -->

    <!-- <div class="exportarP">
        <button class="excel">
            <img src="{% static 'img/Export_excel_2.png' %}" alt="Exportar en excel" title="Exportar en excel">
        </button>
        <button class="pdf">
            <img src="{% static 'img/Export_pdf_2.png' %}" alt="Exportar en pdf" title="Exportar en pdf">
        </button>
    </div> -->
</div>

<div id="cuerpoInventario">

    <!-- TABLA CON SU RESPECTIVO CONTENIDO -->
    <table class="display tablaInventario" style="width:100%;">
        <thead>
            <!-- Columnas -->
            <tr>
                <th>Cargo</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <!-- Filas -->
        <tbody>
            <tr>
                <td>Administrador</td>
                <td class="actions">

                    <button class="actionButton btnEditar">
                        <a href="">
                            <!-- <i class="fa-sharp fa-solid fa-pen fa-lg" style="color: #ffBA4A; padding: 5px 5px;"></i> -->
                            <img src="{% static 'img/Edit1.png' %}" alt="Editar" title="Editar insumo">
                        </a>
                    </button>

                    <button class="actionButton btnEliminar">
                        <a href="">
                            <!-- <i class="fa-solid fa-trash-can fa-lg" style="color: #ff6969; padding: 5px 5px;"></i> -->
                            <img src="{% static 'img/delete1.png' %}" alt="Eliminar" title="Eliminar insumo">
                        </a>
                    </button>

                    <!-- <button class="actionButton btnDetalles">
                            <a href="">
                                <i class="fa-solid fa-info fa-lg" style="color: #ffBA4A; padding: 5px 5px;"></i> -->
                    <!-- <img src="{% static 'img/info1.png' %}" alt="Más información">
                            </a>
                        </button> -->

                </td>
            </tr>
        </tbody>
        <!-- <tfoot>
                <tr>
                    <th>Insumo</th>
                    <th>Presentación</th>
                    <th>Stock</th>
                    <th>Unidad de medida</th>
                </tr>
            </tfoot> -->
    </table>
</div>

{% endblock %}