{% load static %}

<div class="modal-header">
  {% if Modo == "Editar" %}
    <h5 class="modal-title" id="exampleModalLabel">Modificar orden</h5>
  {% else %}
  <h5 class="modal-title" id="exampleModalLabel">Detalles de la orden</h5>
  {% endif %}

  <button
    type="button"
    class="close"
    data-dismiss="modal"
    aria-label="Close"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form action="">
    {% csrf_token %}
  </form>

  {% if Modo != "Editar" %}

  <!-- ¿Quién creó la orden? -->
  <div class="col-12 row">
    <!-- Detalles del que hizo la orden -->
    <h4 style="font-size: 18px; margin-bottom: 3px;" class="col-12">¿Quién creó la orden?</h4>

    <div class="col-6 mb-2" id="nombreCreadorDiv">
      <div class="nombreCreadorTxt">
        <h4 style="font-size: 16px; margin-bottom: 2px; color: #555555;">Nombre</h4>
      </div>
      <input type="text" class="form-control" id="nombreCreador" value="{{NombreCreador}}" readonly/>
    </div>

    <div class="col-3 mb-2" id="cargoCreadorDiv">
      <div class="cargoCreadorTxt">
        <h4 style="font-size: 16px; margin-bottom: 2px; color: #555555;">Cargo</h4>
      </div>
      <input type="text" class="form-control" id="cargoCreador" value="{{CargoCreador}}" readonly/>
    </div>
  </div>
  <!-- ¿Quién creó la orden? -->

  <hr class="separadorMostrarOrden">

  <!-- Detalles de pago de la orden -->
  <div class="col-12 row">
    <!-- Detalles del que hizo la orden -->
    <h4 style="font-size: 18px; margin-bottom: 3px;" class="col-12">Detalles de pago</h4>

    
    {% if Orden.Total > 0 %}
    <!-- Total base -->
    <div class="col-3 mb-2" id="totalBaseOrdenDiv">
      <div class="totalBaseOrdenTxt">
        <h4 style="font-size: 16px; margin-bottom: 2px; color: #555555;">Subtotal</h4>
      </div>
      <input type="text" class="form-control" id="totalBaseOrden" value="{{Orden.Total}}" readonly/>
    </div>
    {% endif %}
  
    {% if Orden.Propina > 0 %}
    <!-- Propina -->
    <div class="col-3 mb-2" id="propinaOrdenDiv">
      <div class="propinaOrdenTxt">
        <h4 style="font-size: 16px; margin-bottom: 2px; color: #555555;">Propina</h4>
      </div>
      <input type="text" class="form-control" id="propinaOrden" value="{{Orden.Propina}}" readonly/>
    </div>
    {% endif %}

    {% if Orden.Descuento < 0 %}
    <!-- Descuento -->
    <div class="col-3 mb-2" id="descuentoOrdenDiv">
      <div class="descuentoOrdenTxt">
        <h4 style="font-size: 16px; margin-bottom: 2px; color: #555555;">Descuento</h4>
      </div>
      <input type="text" class="form-control" id="descuentoOrden" value="{{Orden.Descuento}}" readonly/>
    </div>
    {% endif %}
    
    {% if Orden.TotalPagar > 0 %}
    <!-- Total pagado -->
    <div class="col-3 mb-2" id="totalPagadoOrdenDiv">
      <div class="totalPagadoOrdenTxt">
        <h4 style="font-size: 16px; margin-bottom: 2px; color: #555555;">Total pagado</h4>
      </div>
      <input type="text" class="form-control" id="totalPagadoOrden" value="{{Orden.TotalPagar}}" readonly/>
    </div>
    {% endif %}

    {% if Orden.Monto > 0 %}
    <!-- Monto -->
    <div class="col-3 mb-2" id="montoOrdenDiv">
      <div class="montoOrdenTxt">
        <h4 style="font-size: 16px; margin-bottom: 2px; color: #555555;">Monto</h4>
      </div>
      <input type="text" class="form-control" id="montoOrden" value="{{Orden.Monto}}" readonly/>
    </div>
    {% endif %}

    {% if Orden.Cambio > 0 %}
    <!-- Cambio -->
    <div class="col-3 mb-2" id="cambioOrdenDiv">
      <div class="cambioOrdenTxt">
        <h4 style="font-size: 16px; margin-bottom: 2px; color: #555555;">Cambio</h4>
      </div>
      <input type="text" class="form-control" id="cambioOrden" value="{{Orden.Cambio}}" readonly/>
    </div>
    {% endif %}

    {% if Orden.SegundoMonto > 0 %}
    <!-- Segundo monto -->
    <div class="col-3 mb-2" id="segundoMontoOrdenDiv">
      <div class="segundoMontoOrdenTxt">
        <h4 style="font-size: 16px; margin-bottom: 2px; color: #555555;">Segundo monto</h4>
      </div>
      <input type="text" class="form-control" id="segundoMontoOrden" value="{{Orden.SegundoMonto}}" readonly/>
    </div>
    {% endif %}

    <!-- Metodo de pago -->
    <div class="col-3 mb-2" id="metodoPagoOrdenDiv">
      <div class="metodoPagoOrdenTxt">
        <h4 style="font-size: 16px; margin-bottom: 2px; color: #555555;">Metodo pago</h4>
      </div>
      <input type="text" class="form-control" id="metodoPagoOrden" value="{{Orden.get_MetodoPago_display }}" readonly/>
    </div>
    
  </div>
  <!-- Detalles de pago -->
  
  <hr class="separadorMostrarOrden">
  {% endif %}

  
  <div class="col-12">
    <!-- Descripción -->
    <h4 style="font-size: 20px; margin-bottom: 3px;">Descripción</h4>
    
    {% if Modo == "Editar" %}
      <textarea class="form-control mb-2" id="descripcionOrdenEditar" placeholder="Ingrese una descripción">{% if Orden.Descripcion %}{{ Orden.Descripcion }}{% endif %}</textarea>
    {% else %}
      <textarea class="form-control mb-2" id="descripcionOrdenInfo" placeholder="Esta orden no tiene descripción" readonly>{% if Orden.Descripcion %}{{ Orden.Descripcion }}{% endif %}</textarea>
    {% endif %}
  </div>

  {% if Modo == "Editar" %}
  <hr>

  <div class="col-12">
    <button data-toggle="modal" data-target="#IncluirDetalle" onclick="agregarPlatillosIncluir('{{Orden.Id}}')" id="btnIncluirConsumo">Incluir consumo</button>

    <button onclick="rellenarParaEditarOrden('{{Orden.Id}}')">Reiniciar</button>
  </div>
  {% endif %}

  <hr>

  <!-- Detalle de la orden a editar -->
  <div class="col-12" id="contenedorTablaEditarOrden">
    <table class="display" style="width:100%;">
      <thead>
        <!-- Columnas -->
        <tr>
            <th><h5>Consumo</h5></th>
            <th><h5>Precio unitario</h5></th>
            <th style="text-align: center; min-width: 100px;"><h5>Cantidad</h5></th>

            {% if Modo == "Editar" %}
                <th style="text-align: center;"><h5>Acciones</h5></th>
            {% else %}
                <th><h5>Subtotal</h5></th>
            {% endif %}
        </tr>
      </thead>
  
      <!-- Filas -->
      <tbody class="cuerpoDetalleOrdenTabla" id="cuerpoTablaEditarOrdenDetalles">
        {% for detalle in Orden.Detalles.all %}
          {% if detalle.EsActivo %}
            <tr id="filaDetalleOrdenEditar{{detalle.IdPlatillo.Id}}" class="filaDetalleOrden">
                <td style="text-transform: capitalize; padding-left: 10px;">{{detalle.IdPlatillo.Nombre|lower}}</td>
                <td>C${{detalle.PrecioVenta}}</td>
                
                {% if Modo == "Editar" %}

                  <td style="text-align: center;">
                    <button style="min-width: 30px;" class="btnControlCantidad" onclick="bajarCantidad('{{detalle.IdPlatillo.Id}}')">-</button>

                    <span id="cantidadDetalle-{{detalle.IdPlatillo.Id}}" class="cantidadConsumoEditar">{{detalle.Cantidad}}</span>
                    
                    <button style="min-width: 30px;" class="btnControlCantidad" onclick="subirCantidad('{{detalle.IdPlatillo.Id}}')">+</button>
                  </td>

                  <td class="actions btnQuitarEditar">
                    <div class='botonQuitar'>
                      <button type="button" class="btnQuitar2 btn-popover" 
                        data-id-detalle="{{detalle.Id}}"
                        data-id-platillo="{{detalle.IdPlatillo.Id}}"
                        onclick="mostrarPopover(this, event)">
                        Quitar
                      </button>
                    </div>
                  </td>
                
                {% else %}
                  
                  <td style="text-align: center;">{{detalle.Cantidad}}</td>
                  
                  <td>{{detalle.SubTotal}}</td>
                
                {% endif %}
                
                <input type="hidden" id="detalleOrdenEditarData{{detalle.IdPlatillo.Id}}"
                class="detalleOrdenData{{Orden.Id}}"
                data-is-new="0"
                data-id-detalle="{{detalle.Id}}"
                data-id-platillo="{{detalle.IdPlatillo.Id}}"
                data-cantidad="{{detalle.Cantidad}}"
                data-es-activo="{{detalle.EsActivo}}">
                
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>

  <input type="hidden" id="idOrdenEditar" value="{{Orden.Id}}"/>
</div>

<div class="modal-footer">
  <div class="contFooterEditarOrden">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">
      {% if Modo == "Editar" %}
      Cancelar
      {% else %}
      Volver
      {% endif %}
    </button>

    {% if Modo == "Editar" %}
      <button
          type="button"
          class="btn btn-danger"
          id="btnConfirmarCambiosEditarOrden"
          onclick="ConfirmarEditarOrden({{Orden.Id}})"
          disabled>
          Confirmar cambios
      </button> 
    {% endif %}       
  </div>
</div>