{% load static %}

<div class="modal-header">
  {% if Modo == "Editar" %}
    <h5 class="modal-title" id="exampleModalLabel">Modificar orden</h5>
  {% else %}
  <h5 class="modal-title" id="exampleModalLabel">Detalles de la orden</h5>
  {% endif %}

  <button
    type="button"
    class="close"
    data-dismiss="modal"
    aria-label="Close"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form action="">
    {% csrf_token %}
  </form>
  
  <div class="col-12">
    <!-- Descripción -->
    <h4 style="font-size: 20px; margin-bottom: 3px;">Descripción</h4>
    
    {% if Modo == "Editar" %}
      <textarea class="form-control mb-2" id="descripcionOrdenEditar" placeholder="Ingrese una descripción">{% if Orden.Descripcion %}{{ Orden.Descripcion }}{% endif %}</textarea>
    {% else %}
      <textarea class="form-control mb-2" id="descripcionOrdenInfo" placeholder="Esta orden no tiene descripción" readonly>{% if Orden.Descripcion %}{{ Orden.Descripcion }}{% endif %}</textarea>
    {% endif %}
  </div>

  <hr>

  <div class="col-12">
    <button data-toggle="modal" data-target="#IncluirDetalle" onclick="agregarPlatillosIncluir('{{Orden.Id}}')" id="btnIncluirConsumo">Incluir consumo</button>

    <button onclick="rellenarParaEditarOrden('{{Orden.Id}}')">Reiniciar</button>
  </div>

  <hr>

  <!-- Detalle de la orden a editar -->
  <div class="col-12" id="contenedorTablaEditarOrden">
    <table class="display" style="width:100%;">
      <thead>
        <!-- Columnas -->
        <tr>
            <th><h5>Consumo</h5></th>
            <th><h5>Precio unitario</h5></th>
            <th style="text-align: center; min-width: 100px;"><h5>Cantidad</h5></th>

            {% if Modo == "Editar" %}
                <th style="text-align: center;"><h5>Acciones</h5></th>
            {% else %}
                <th><h5>Subtotal</h5></th>
            {% endif %}
        </tr>
      </thead>
  
      <!-- Filas -->
      <tbody class="cuerpoDetalleOrdenTabla" id="cuerpoTablaEditarOrdenDetalles">
        {% for detalle in Orden.Detalles.all %}
          {% if detalle.EsActivo %}
            <tr id="filaDetalleOrdenEditar{{detalle.IdPlatillo.Id}}" class="filaDetalleOrden">
                <td style="text-transform: capitalize; padding-left: 10px;">{{detalle.IdPlatillo.Nombre|lower}}</td>
                <td>C${{detalle.PrecioVenta}}</td>
                
                {% if Modo == "Editar" %}

                  <td style="text-align: center;">
                    <button style="min-width: 30px;" class="btnControlCantidad" onclick="bajarCantidad('{{detalle.IdPlatillo.Id}}')">-</button>

                    <span id="cantidadDetalle-{{detalle.IdPlatillo.Id}}" class="cantidadConsumoEditar">{{detalle.Cantidad}}</span>
                    
                    <button style="min-width: 30px;" class="btnControlCantidad" onclick="subirCantidad('{{detalle.IdPlatillo.Id}}')">+</button>
                  </td>

                  <td class="actions btnQuitarEditar">
                    <div class='botonQuitar'>
                      <button type="button" class="btnQuitar2 btn-popover" 
                        data-id-detalle="{{detalle.Id}}"
                        data-id-platillo="{{detalle.IdPlatillo.Id}}"
                        onclick="mostrarPopover(this, event)">
                        Quitar
                      </button>
                    </div>
                  </td>
                
                {% else %}
                  
                  <td style="text-align: center;">{{detalle.Cantidad}}</td>
                  
                  <td>{{detalle.SubTotal}}</td>
                
                {% endif %}
                
                <input type="hidden" id="detalleOrdenEditarData{{detalle.IdPlatillo.Id}}"
                class="detalleOrdenData{{Orden.Id}}"
                data-is-new="0"
                data-id-detalle="{{detalle.Id}}"
                data-id-platillo="{{detalle.IdPlatillo.Id}}"
                data-cantidad="{{detalle.Cantidad}}"
                data-es-activo="{{detalle.EsActivo}}">
                
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>

  <input type="hidden" id="idOrdenEditar" value="{{Orden.Id}}"/>
</div>

<div class="modal-footer">
  <div class="contFooterEditarOrden">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">
      {% if Modo == "Editar" %}
      Cancelar
      {% else %}
      Volver
      {% endif %}
    </button>

    {% if Modo == "Editar" %}
      <button
          type="button"
          class="btn btn-danger"
          id="btnConfirmarCambiosEditarOrden"
          onclick="ConfirmarEditarOrden({{Orden.Id}})"
          disabled>
          Confirmar cambios
      </button> 
    {% endif %}       
  </div>
</div>