{% load static %}

<div class="col-12" title="Seleccione un área diferente si la va a cambiar">
    <select id="selectAreaMesa" class="form-control">
        <option value="" disabled>Seleccione un área</option>
        {% for area in Areas %}
            {% if area.Id == Orden.IdAreaDeMesa.Id %}
                <option value="{{ area.Id }}"
                    selected>
                    {{ area.Nombre }}
                </option>
            {% else %}
                <option value="{{ area.Id }}">
                    {{ area.Nombre }}
                </option>
            {% endif %}
        {% endfor %}
    </select>
</div>

<div id="contenedorMesas" class="col-12 list-group pr-0" title="Seleccione las mesas que quiera definir a la orden">
    {% for area in Areas %}
        {% for mesa in area.mesas_activas %}
            <label class="numeroMesaEditar list-group-item list-group-item-action mb-0 mesa-item d-none"
                   data-area="{{ area.Id }}"
                   data-idmesa="{{ mesa.Id }}"
                   data-numero="{{ mesa.Numero }}">

                <div class="row w-100 align-items-center">

                    {% if mesa.Id in MesasOrden %}
                        <input type="checkbox"
                           class="chkMesaEditar d-none"
                           value="{{ mesa.Id }}"
                           checked>
                           
                        <span class="col-6">Mesa #{{ mesa.Numero }}</span>
                    {% else %}
                        <input type="checkbox"
                           class="chkMesaEditar d-none"
                           value="{{ mesa.Id }}">
                           
                        <span class="col-6">Mesa #{{ mesa.Numero }}</span>
                    {% endif %}

                </div>
            </label>
        {% endfor %}
    {% endfor %}
</div>
