{% load static %}

<div class="col-12">
    <input
        class="form-control mb-2"
        type="text"
        id="buscarPlatilloEditar"
        placeholder="Buscar consumible"
    >
</div>

<div id="contenidoIncluirPlatillosEditar" class="col-12 list-group pr-0">
    {% for platillo in Platillos %}
        <label class="nombreConsumibleIncluir list-group-item list-group-item-action mb-0">
            <div class="row w-100">
                <input
                    type="checkbox"
                    class="chkPlatilloEditar d-none"
                    value="{{ platillo.Id }}"
                    data-nombre="{{ platillo.Nombre|lower }}"
                    data-precio="{{ platillo.Precio }}"
                >
                <span class="col-6">{{ platillo.Nombre }}</span>
                <span class="col-3">{{ platillo.Precio }}</span>
                <span class="col-3">
                    {{ platillo.IdTipoPlatillo.Nombre|default:"Sin tipo" }}
                </span>
            </div>
        </label>
    {% endfor %}
</div>