{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Iconos y fuentes -->
    

    <link rel="icon" href="{% static 'img/Logo la olla 2.png' %}" />

    <!-- Animaciones -->
    <link rel="stylesheet" href="{% static 'css/lib/animate.min.css' %}"/>

    <!-- DataTables CSS -->
    <link rel="stylesheet" href="{% static 'css/lib/datatables.min.css' %}"/>

    <!-- Bootstrap CSS (local recomendado) -->
    <link rel="stylesheet" href="{% static 'css/lib/bootstrap.min.css' %}" />

    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="{% static 'css/lib/sweetalert2.min.css' %}" />

    <!-- Estilos propios -->
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/inventario.css' %}" />
    <link rel="stylesheet" href="{% static 'css/venta.css' %}" />
    <link rel="stylesheet" href="{% static 'css/ordenes.css' %}" />

    <title>Inicio</title>
  </head>
  <body>
    <div id="capa" onclick="cerrar()"></div>

    <header>
      <div id="opciones">
        <div id="btnopciones2" onclick="cerrar()">
          <div class="burger2-1"></div>
          <div class="burger2-2"></div>
          <div class="burger2-3"></div>
        </div>

        <!---------------------------------------------- -->

        <!-- Se encontrarán todas las opciones para este apartado -->
        <ul class="listaOpciones">
          {% if request.user.IdCargo.Nombre == "Administrador" or request.user.IdCargo.Nombre == "Cajero" %}
            <li class="opcion"><a href="{% url 'index' %}">Inicio</a></li>
          {% endif %}

          {% if request.user.IdCargo.Nombre == "Administrador" %}
            <li class="opcion"><a href="{% url 'inventario' %}">Menú</a></li>
          {% endif %}

          <!-- <li class="opcion"><a href="">Compra</a></li> -->

          {% if request.user.IdCargo.Nombre == "Mesero" or request.user.IdCargo.Nombre == "Administrador" %}
            <li class="opcion"><a href="{% url 'venta' %}">Ordenes</a></li>
          {% else %}
            <li class="opcion"><a href="{% url 'OrdenesPendientes' %}">Ordenes</a></li>
          {% endif %}

          {% if request.user.IdCargo.Nombre == "Administrador" %}
          <li class="opcion"><a href="{% url 'personal' %}">Personal</a></li>
          {% endif %}

          <li class="opcion"><a href="">Mi perfil</a></li>
          <!-- <li class="opcion"><a href="">Configuraciones</a></li> -->
        </ul>

        <img src="/static/img/Logo la olla 2.png" alt="" id="logodeco" />
      </div>

      <nav>
        <ul class="menu">
          <li>
            <div id="btnopciones1" onclick="abrir()">
              <div class="burger1-1"></div>
              <div class="burger1-2"></div>
              <div class="burger1-3"></div>
            </div>
          </li>

          <li class="logo">
            <a href="{% url 'index' %}"
              ><img src="{% static 'img/LogoNav.png' %}" alt=""
            /></a>
            <!-- <a href="#">Historial</a> -->
          </li>

          <!-- <li id="userConfig">
                    <a href="#">
                        <img src="{% static 'img/Icon_UserSet.png' %}" alt="">
                    </a>
                </li> -->

          <li id="logout">
            <a href="{% url 'logoutUser' %}">
              <img src="{% static 'img/Icon_logout.png' %}" alt="" />
              <!-- Cerrar sesión -->
            </a>
          </li>
        </ul>
      </nav>

      <!-- Imagen de fondo -->

      <div class="contenido">
        <!-- {% comment %} Aqui es donde va todo el contenido {% endcomment %} -->

        {% block content %} {% endblock %}
      </div>
      <!-- <img src="/Restaurante_La_Olla/Static/img/waveTest3.svg" alt="Onda de fondo" style="transform: translateY(-25px);"> -->
    </header>

    <!-- jQuery completo -->
    <script src="{% static 'js/lib/jquery-3.7.1.min.js' %}"></script>

    <!-- Popper.js necesario para Bootstrap -->
    <script src="{% static 'js/lib/popper.min.js' %}"></script>

    <!-- Bootstrap JS -->
    <script src="{% static 'js/lib/bootstrap.min.js' %}"></script>

    <!-- DataTables -->
    <script src="{% static 'js/lib/dataTables.min.js' %}"></script>

    <!-- SweetAlert2 -->
    <script src="{% static 'js/lib/sweetalert2.all.min.js' %}"></script>

    <!-- Tus scripts -->
    <script src="{% static 'js/opciones.js' %}"></script>
    <script src="{% static 'js/cantidad.js' %}"></script>
    <script src="{% static 'js/toggle.js' %}"></script>

    <script>
      // $(document).ready(function () {
      //         $('#tablaInsumos').DataTable({

      //         });
      //     });

      $(document).ready(function () {
        $(".tablaInventario").DataTable({
          scrollY: "45vh",
          scrollCollapse: true,
          paging: true,
          language: {
            url: "https://cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json",
          },
        });
      });

      document.getElementById("listaInventario").addEventListener(
        "change",
        function () {
          window.location = this.value;
        },
        false
      );

      async function obtenerCargoUsuario() {
        try {
          const response = await fetch("/cargo/consultar", {
              method: "GET",
              headers: {
                  "X-Requested-With": "XMLHttpRequest"
              }
          });
  
          if (!response.ok) {
              throw new Error("Error al consultar el cargo (HTTP).");
          }
  
          const data = await response.json();
  
          if (data.status !== "ok") {
              throw new Error("Error al consultar el cargo (JSON).");
          }
  
          return data.CargoUsuario;
  
        } catch (error) {
            console.error("Error al obtener el cargo:", error);
            return null;
        }
      }

    </script>

    <script>
      (function (d) {
        var s = d.createElement("script");
        /* uncomment the following line to override default position*/
        s.setAttribute("data-position", 5);
        /* uncomment the following line to override default size (values: small, large)*/
        s.setAttribute("data-size", "small");
        /* uncomment the following line to override default language (e.g., fr, de, es, he, nl, etc.)*/
        s.setAttribute("data-language", "es");
        /* uncomment the following line to override color set via widget (e.g., #053f67)*/
        s.setAttribute("data-color", "#DF362D");
        /* uncomment the following line to override type set via widget (1=person, 2=chair, 3=eye, 4=text)*/
        s.setAttribute("data-type", "2");
        /* s.setAttribute("data-statement_text:", "Our Accessibility Statement");*/
        /* s.setAttribute("data-statement_url", "http://www.example.com/accessibility";*/
        /* uncomment the following line to override support on mobile devices*/
        /* s.setAttribute("data-mobile", true);*/
        /* uncomment the following line to set custom trigger action for accessibility menu*/
        /* s.setAttribute("data-trigger", "triggerId")*/
        s.setAttribute("data-account", "MkFThQLmW7");
        s.setAttribute("src", "https://cdn.userway.org/widget.js");
        (d.body || d.head).appendChild(s);
      })(document);
    </script>
    <noscript>
      Please ensure Javascript is enabled for purposes of
      <a href="https://userway.org">website accessibility</a>
    </noscript>

    <div class="modal fade" id="MostrarDetalleConsumo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title ">Detalle del consumo</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="display: flex; flex-direction: column;">
              <img src="" alt="" id="ImagenDetalleConsumo" class="detalleConsumoElemento" style="width: 70%; align-self: center;">
              <hr>
              <h4 id="NombreDetalleConsumo" class="detalleConsumoElemento"></h4>
              <h6 id="NombreDetalleTipoConsumo" class="detalleConsumoElemento"></h6>
              <hr>
              <h6 id="DescripcionDetalleConsumo" class="detalleConsumoElemento"></h6>
              <hr>
              <h4>Precio C$<span id="PrecioDetalleConsumo" class="detalleConsumoElemento"></span></h4>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="InfoCrearOrden" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title ">Información adicional</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="display: flex; flex-direction: column;">
              <h5 class="subTItuloInfoCrearOrden">Crear orden</h5>
              <h6 class="textoInfoCrearOrden">Realiza el proceso de creación de la orden una vez haya agregado al menos un consumo</h6>
              <hr>
              <h5 class="subTItuloInfoCrearOrden">Limpiar</h5>
              <h6 class="textoInfoCrearOrden">Elimina todos los consumos que han sido agregados a la orden, volviendo a dejarla vacía para poder agregar nuevos consumos</h6>
              <hr>
              <h5 class="subTItuloInfoCrearOrden">Quitar</h5>
              <h6 class="textoInfoCrearOrden">Es similar al anterior pero elimina la orden de forma individual por consumo</h6>
              <hr>
              <h5 class="subTItuloInfoCrearOrden">Al crear la orden</h5>
              <h6 class="textoInfoCrearOrden">Podrá ser capaz de escribir alguna información adicional que podrá ver el personal de cocina cuando se genere la orden</h6>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
