{% load static %}

<form action="">
    {% csrf_token %}
</form>

<div id="ContenidoForgotPass">
    <h2>Tu usuario es '{{ Usuario.username }}'</h2>

    <h4 style="margin-top: 15px;">Hemos enviado un código OTP a tu correo, por favor verifique</h4>
    
    <div class="form_in otp">
        <input type="number" name="txtOTPForgotPass" class="campo otp" id="OTPForgotPass" autocomplete="off" max="999999" oninput="validarOTPForgotPass()" required>
        <label class="lbl otp">
            Ingrese su OTP
        </label>
    </div>
    
    <div class="form_button_forgot">
        <input type="button" name="" class="btn_back" value="Volver"
            style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 17px; width: 120px" onclick="volverALogin()">

        <input type="button" name="" id="btn_verificar_otp_forgot_pass" class="btn_next" value="Verificar"
            style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 17px; width: 120px" onclick="" disabled>
    </div>
</div>