{% extends 'index.html' %} {% block content %} {% load static %}
<style>
  #myChart {
    margin-top: 7vh;
    width: 100%;
    height: 60vh;
  }
  #pieChart {
    margin-top: 7vh;
    width: 100%;
    height: 60vh;
  }
  #modal-overlay-ini {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 110vh;
    background-color: rgba(0, 0, 0, 0.5);
    /* establece el fondo oscuro */
    z-index: 900;
    display: none;
    transform: translateY(-10vh);
  }
</style>

<!-- <div id="modal-overlay-ini" onclick="desaparecerCapa()"></div> -->

<body>
  <!-- <div class="funcionesCierre">
    <button id="BtnCrearCierre" data-toggle="modal" data-target="#RealizarCierre">
      <span>Realizar cierre</span>
    </button>
  </div> -->
  <div class="container-fluid">
    <div class="row">
      <div
        class="col-sm-8"
        style="
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          align-content: space-around;
          justify-content: flex-start;
        "
      >
        <canvas id="myChart"></canvas>
      </div>
      <div
        class="col-sm-4"
        style="
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          align-content: space-around;
          justify-content: flex-start;
        "
      >
        <canvas id="pieChart"></canvas>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="RealizarCierre"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Realizar cierre</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST">
            {% csrf_token %}
            <h4 style="font-size: 20px">
              Platillo<span class="asterisco">*</span>
            </h4>
            <input
              type="text"
              class="form-control"
              id="NombrePlatilloAgregar"
              required
            />
  
            <div class="row">
              <div class="col-md-6">
                <h4 style="font-size: 20px">
                  Precio del Platillo<span class="asterisco">*</span>
                </h4>
                <input
                  type="number"
                  class="form-control"
                  id="PrecioPlatilloAgregar"
                  required
                />
              </div>
              <div class="col-md-6">
                <h4 style="font-size: 20px">Estado Platillo</h4>
  
                <select class="form-control" id="EstadoPlatilloAgregar">
                  <option value="1">activo</option>
                  <option value="0">inactivo</option>
                </select>
              </div>
  
              <div class="col-md-12">
                <h4 style="font-size: 20px">Descripcion del Platillo</h4>
                <input
                  type="text"
                  class="form-control"
                  id="DescripcionPlatilloAgregar"
                />
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
          >
            Cancelar
          </button>
          <button type="button" class="btn btn-dark" onclick="AgregarPlatillo();">
            Agregar
          </button>
        </div>
      </div>
    </div>
  </div>
  
  <script src="{% static 'js/inicio.js' %}"></script>
</body>


{% endblock %}
