{% load static %}

<form action="">
    {% csrf_token %}
</form>

<div id="ContenidoForgotPass">
    <h2>Ingresa tu correo para encontrar tu usuario</h2>
    
    <div class="form_in">
        <input type="text" name="txtCorreoForgotPass" class="campo" id="CorreoForgotPass" autocomplete="off" oninput="validarCorreoForgotPass()" required>
        <label class="lbl">
            Correo electrónico
        </label>
    </div>
    
    <div class="form_button_forgot">
        <input type="button" name="" class="btn_back" value="Volver"
            style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 17px; width: 120px" onclick="volverALogin()">

        <input type="button" name="" id="btn_verificar_correo_forgot_pass" class="btn_next" value="Verificar"
            style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 17px; width: 120px" onclick="verificarCorreo()" disabled>
    </div>

    <div class="info_forgot_pass">
        <img src="{% static 'img/info_icon.png' %}" alt="">

        <span>
            ESTA FUNCIÓN SOLO ESTÁ DISPONIBLE PARA LOS ADMINISTRADORES
        </span>
    </div>
</div>