{% extends 'index.html' %} {% block content %} {% load static %}
<style>
  #myChart {
    margin-top: 7vh;
    width: 100%;
    height: 60vh;
  }
  #pieChart {
    margin-top: 7vh;
    width: 100%;
    height: 60vh;
  }
  #modal-overlay-ini {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 110vh;
    background-color: rgba(0, 0, 0, 0.5);
    /* establece el fondo oscuro */
    z-index: 900;
    display: none;
    transform: translateY(-10vh);
  }
</style>

<!-- <div id="modal-overlay-ini" onclick="desaparecerCapa()"></div> -->

<body>
  <!-- <div class="funcionesCierre">
    <button id="BtnCrearCierre" data-toggle="modal" data-target="#RealizarCierre">
      <span>Realizar cierre</span>
    </button>
  </div> -->
  <div class="container-fluid">
    <div class="row">
      <div
        class="col-sm-8"
        style="
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          align-content: space-around;
          justify-content: flex-start;
        "
      >
        <canvas id="myChart"></canvas>
      </div>
      <div
        class="col-sm-4"
        style="
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          align-content: space-around;
          justify-content: flex-start;
        "
      >
        <canvas id="pieChart"></canvas>
      </div>
    </div>
  </div>
  
</body>

<script src="{% static 'js/inicio.js' %}"></script>

{% endblock %}
