{% csrf_token %} {% load static %} 

<table class="tablaInventario hover" style="width:100%;">
    <thead>
        <!-- Columnas -->
        <tr>
            <th title="Columna del nombre de los consumibles">Consumible</th>
            <th title="Tipo al que pertenecen los consumibles">Tipo de consumible</th>
            <th title="Columna para conocer el precio de cada consumible">Precio</th>
            
            {% if VerEliminados == "1" %}
                <th id="estadoPlatilloColumna" title="Estado del consumible">Estado</th>
            {% endif %}
            
            <th title="Columna de acciones que se puedan realizar sobre los consumibles">Acciones</th>
        </tr>
    </thead>

    <!-- Filas -->
    <tbody>
        {% for platillo in Platillos %}
        <tr>
            <td style="text-transform: capitalize; " title="Nombre del consumible">{{platillo.Nombre|lower}}</td>
            <td title="Tipo del consumible">{{platillo.IdTipoPlatillo.Nombre}}</td>
            <td title="Precio del consumible">C${{platillo.Precio}}</td>

            {% if VerEliminados == "1" %}
                <td class="estadoPlatilloFila" title="Estado del consumible (Activo | Inactivo)">
                    {% if platillo.EsActivo == "1" %} 
                    <span class="badge-green">
                        Activo
                    </span>
                    {% else %}
                    <span class="badge-red">
                        Inactivo
                    </span>
                    {% endif %}
                </td>
            {% endif %}
            
            <td class="actions">

                <button class="actionButton btnEditar" data-toggle="modal" data-target="#ModificarPlatillo" 
                onclick='Impresion("{{platillo.Id}}" , "{{platillo.Nombre}}", "{{platillo.IdTipoPlatillo.Nombre}}", "{{platillo.IdTipoPlatillo.Id}}","{{platillo.Precio}}","{{platillo.EsActivo}}", "{{platillo.Descripcion}}" );'  id="Editar{{platillo.Id}}" title="Permite modificar los datos del consumible">
                    <a>
                        <img src="{% static 'img/Edit1.png' %}" alt="Editar">
                    </a>
                </button>

                {% if platillo.EsActivo == "1" %}
                    <button class="actionButton btnEliminar" onclick="DarBaja_Platillo({{platillo.Id}});" id="Eliminar{{platillo.Id}}" title="Permite desactivar un consumible">
                        <a>
                            <img src="{% static 'img/delete1.png' %}" alt="Eliminar">
                        </a>
                    </button>
                {% endif %}
                <!--
                <button class="actionButton btnDetalles" id=Detalle{{platillos.id}}>
                    <a href="">
                        <i class="fa-solid fa-info fa-lg" style="color: #ffBA4A; padding: 5px 5px;"></i> 
                        <img src="{% static 'img/info1.png' %}" alt="Más información" title="Más información">
                    </a>
                </button>-->
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>