{% extends 'index.html' %}

{% block content %}
{% load static %}


<div id="encabezado_inventario">
    <div id="contenedorIzquierdoEncabezadoInventario">
        <button id="agregar" data-toggle="modal" data-target="#AgregarPlatillo">
                <img src="{% static 'img/icon_add_2.png' %}" style="width: 25px; height: 25px; margin-right: 10px;" title="Añadir platillo">Agregar consumible
        </button>
    
        <!-- <input type="text" id="buscar" placeholder="Buscar"> -->
    
        <!--
        <select name="" id="listaInventario">
            <option value="">Consumibles</option>
            <option value="{% url 'inventario_tipoplatillo' %}">Tipos de consumible</option>
        </select>
        -->

        <div class="custom-dropdown" id="dropdownInventario">
            <button class="dropdown-trigger" aria-haspopup="true" aria-expanded="false">
                Consumibles <span style="margin-left: 10px;">▼</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li role="none"><a href="#" role="menuitem">Consumibles</a></li>
                <li role="none"><a href="{% url 'inventario_tipoplatillo' %}" role="menuitem">Tipos de consumible</a></li>
            </ul>
        </div>
    
        <button class="btnExportar" data-toggle="modal" data-target="#ExportarPlatillo">
            <svg width="18" height="24" viewBox="0 0 24 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.04167 29.7135L0 27.6354L4.30208 23.3333H1.02083V20.4167H9.26042V28.6562H6.34375V25.4115L2.04167 29.7135ZM12.1771 29.1667V26.25H20.9271V10.2083H13.6354V2.91667H3.42708V17.5H0.510417V2.91667C0.510417 2.11458 0.796007 1.42795 1.36719 0.856771C1.93837 0.28559 2.625 0 3.42708 0H15.0937L23.8438 8.75V26.25C23.8438 27.0521 23.5582 27.7387 22.987 28.3099C22.4158 28.8811 21.7292 29.1667 20.9271 29.1667H12.1771Z" fill="#d92644"/>
                </svg>
                    
            &nbsp;

            Exportar
        </button>
    </div>

    <div id="contenedorDerechoEncabezadoInventario">
        <!-- Botón para mostrar u ocultar los registros inactivos -->
        <div class="btnVerInactivos">
            <label for="checkVerConsumiblesInactivos">Incluir inactivos</label>
            <input type="checkbox" id="checkVerConsumiblesInactivos" class="checkVerInactivos">
        </div>
    </div>
</div>

<div id="cuerpoInventario">
    <!-- TODO EL CONTENIDO ESTÁ EN LA PLANTILLA 'inventario_platillos_filtrados' -->
</div>

<div class="modal-overlay"></div>

<div class="modal fade" id="ExportarPlatillo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title " id="exampleModalLabel" >Exportar consumible</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body row exportar col-12">
            <div class="col-6">
                <button type="button" class="excel w-100" onclick="ExportarPlatillos('1')">
                    <img src="{% static 'img/Export_excel_2.png' %}">
                </button>
            </div>
    
            <div class="col-6">
                <button type="button" class="pdf w-100" onclick="ExportarPlatillos('2')">
                    <img src="{% static 'img/Export_pdf_2.png' %}">
                </button>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="ModificarPlatillo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title " id="exampleModalLabel" >Modificar consumible</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="POST">
                {% csrf_token %}
                <div class="row">
                    
                    <div class="col-md-12 mb-2">
                        <h4 style="font-size: 20px; margin-bottom: 3px;">Nombre<span class="asterisco">*</span></h4>
                        <input type="text" class="form-control" id="NombrePlatillo" placeholder="Ej: Frijoles" required>
                    </div>
                    <div class="col-md-6 mb-2">
                        <h4 style="font-size: 20px; margin-bottom: 3px;">Tipo de consumible<span class="asterisco">*</span></h4>
                        <select class="form-control" id="TipoPlatillo">
                            {% for tipoplatillo in TypePlatillo %}
                            {% if tipoplatillo.EsActivo == "1" %}
                                <option value="{{ tipoplatillo.Id }}">{{ tipoplatillo.Nombre }}</option>
                            {% else %}
                                <option value="{{ tipoplatillo.Id }}" disabled>{{ tipoplatillo.Nombre }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6 mb-2">
                        <h4 style="font-size: 20px; margin-bottom: 3px;">Precio (C$)<span class="asterisco">*</span></h4>
                        <input type="text" inputmode="numeric" class="form-control" id="PrecioPlatillo" placeholder="Ej: 150" onkeypress="return soloNumeros(event)" required>
                    </div>

                    <div class="col-md-6 mb-2">
                        <h4 style="font-size: 20px; margin-bottom: 3px;">Estado</h4>
                        <select class="form-control" id="EstadoPlatillo">
                            <option value="1">Activo</option>
                            <option value="0">Inactivo</option>
                        </select>
                    </div>

                    <div class="col-md-6 mb-2">
                        <h4 style="font-size: 20px; margin-bottom: 3px;">Imagen</h4>
                        <label for="archivoModal_dos"
                        class="LabelArchivo">
                           <span id="SpanLabel_dos"> Cargar imagen</span>
                           <!-- TODO: Agregar icono para la carga de imagen -->                           
                        </label>
                        <input type="file" accept="image/png,image/jpeg,image/jpg" id="archivoModal_dos" onchange="VerificarArchivo_dos(this)"
                        style="position: absolute;
                            right: 0;
                            width: 180px;
                            display: none;
                            cursor: pointer;">
                    </div>

                    <input type="hidden" class="form-control" id="IDPlatillo">
                    
                    <div class="col-md-12 mb-2">
                        <h4 style="font-size: 20px; margin-bottom: 3px;">Descripción</h4>
                        <textarea class="form-control" id="DescripcionPlatillo" placeholder="Ej: Acompañado con salsa ranch. (Opcional)"></textarea>
                    </div>
                </div>
            </form>
               
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn_confirmation_mi_color" onclick="ActualizarPlatillo();">Modificar</button>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="AgregarPlatillo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title " id="exampleModalLabel" >Agregar consumible</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="POST">
                {% csrf_token %}
                <h4 style="font-size: 20px; margin-bottom: 3px;">Nombre<span class="asterisco">*</span></h4>
                <input type="text" placeholder="Ej: Frijoles" class="form-control mb-2" id="NombrePlatilloAgregar" required>

                <div class="row">
                    <div class="col-md-6">
                        <h4 style="font-size: 20px; margin-bottom: 3px;">Tipo de consumible<span class="asterisco">*</span></h4>
                        <select class="form-control mb-2" id="TipoPlatilloAgregar">
                            {% for tipoplatillo in TypePlatillo %}
                                {% if tipoplatillo.EsActivo == "1" %}
                                    <option value="{{ tipoplatillo.Id }}">{{ tipoplatillo.Nombre }}</option>
                                 {% else %}
                                    <option value="{{ tipoplatillo.Id }}" disabled>{{ tipoplatillo.Nombre }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-6">
                        <h4 style="font-size: 20px; margin-bottom: 3px;" >Precio (C$)<span class="asterisco">*</span></h4>
                        <input type="number" class="form-control mb-2" placeholder="Ej: 150" id="PrecioPlatilloAgregar" required>
                    </div>

                    <div class="col-md-12 mb-2">
                        <h4 style="font-size: 20px; margin-bottom: 3px;">Imagen</h4>
                        <label for="iconoCargarImagen"
                        class="LabelArchivo">
                           <span id="SpanLabel">Cargar imagen</span>
                           <!-- TODO: Agregar icono para la carga de imagen -->
                        </label>

                        <input type="file" accept="image/png,image/jpeg,image/jpg" id="iconoCargarImagen" onchange="VerificarArchivo(this)"
                        style="position: absolute;
                            right: 0;
                            width: 180px;
                            display: none;
                            cursor: pointer;">
                    </div>

                    <div class="col-md-12">
                      <h4 style="font-size: 20px; margin-bottom: 3px;">Descripción</h4>
                      <textarea class="form-control mb-2" placeholder="Ej: Acompañado con salsa ranch. (Opcional)" id="DescripcionPlatilloAgregar" ></textarea>
                    </div>
                </div>
            </form>
               
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn_confirmation_mi_color" onclick="AgregarPlatillo();">Agregar</button>
        </div>
      </div>
    </div>
</div>

<script src="{% static 'js/inventario_platillos.js' %}"></script>

{% endblock %}