{% extends 'index.html' %}

{% block content %}
{% load static %}

<div id="encabezado_inventario">
    <button id="agregar" data-toggle="modal" data-target="#AgregarTipoPlatillo" style="font-size: 15px;">
        <img src="{% static 'img/icon_add_2.png' %}" style="width: 25px; height: 25px; margin-right: 10px; transform: translateY(-9px);" title="Añadir el tipo de platillo">
    
        <span style="width: 100px; height: 30px; display: inline-block; line-height: 17px;">Agregar tipo de consumo</span>
    </button>

    <!-- <input type="text" id="buscar" placeholder="Buscar"> -->

    <select name="" id="listaInventario">
        <option value="">Tipos de consumo</option>
        <option value="{% url 'inventario_platillos' %}">Consumos</option>
    </select>

    <div class="exportar">
        <button class="excel">
          <a href="{% url 'ExportarTipoPlatillo' %}">
                <img src="{% static 'img/Export_excel_2.png' %}" alt="Exportar en excel" title="Exportar en excel">
          </a>
          </button>
         <button class="pdf">
          <a href="{% url 'CreacionTipoPlatillos_PDF' %}">
            <img src="{% static 'img/Export_pdf_2.png' %}" alt="Exportar en pdf" title="Exportar en pdf">
          </a>
        </button> 
    </div>
</div>

<div id="cuerpoInventario">

    <!-- TABLA CON SU RESPECTIVO CONTENIDO -->
    <table class="display tablaInventario" style="width:100%;">
        <thead>
            <!-- Columnas -->
            <tr>
                <th>Tipo de consumo</th>
                <th style="text-align: center">Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <!-- Filas -->
        <tbody>
            {% for tipoplatillo in TypePlatillo%}
            <tr>
                <td style="text-transform: capitalize; ">{{tipoplatillo.Nombre}}</td>
                <td style="text-align: center">
                  {% if tipoplatillo.EsActivo == "1" %} 
                    &#9989;
                  {% else %}
                  &#9940;
                  {% endif %}
                </td>
                <td class="actions">

                    <button class="actionButton btnEditar" data-toggle="modal" data-target="#exampleModal" onclick="Impresion('{{tipoplatillo.Id}}', '{{tipoplatillo.Nombre}}','{{tipoplatillo.EsActivo}}');" id="Editar{{tipoplatillo.Id}}">
                        <a >
                            <!-- <i class="fa-sharp fa-solid fa-pen fa-lg" style="color: #ffBA4A; padding: 5px 5px;"></i> -->
                            <img src="{% static 'img/Edit1.png' %}" alt="Editar" title="Editar el tipo de platillo">
                        </a>
                    </button>

                    {% if tipoplatillo.EsActivo == "1" %}
                      <button class="actionButton btnEliminar"
                      onclick="DarBajaTipoPlatillo('{{ tipoplatillo.Id }}')"
                      id="Eliminar{{ tipoplatillo.Id }}">
                        <a>
                            <img src="{% static 'img/delete1.png' %}" alt="Eliminar" title="Eliminar el tipo de platillo">
                        </a>
                    </button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
      
    </table>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title " id="exampleModalLabel" >Modificar tipo de consumo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="POST">
                {% csrf_token %}
                <h4 style="font-size: 20px;">Nombre</h4>
                <input type="text" class="form-control" id="NameTipoPlatillo" required>
                <h4 style="font-size: 20px;">Estado</h4>
                <select class="form-control" id="EstadoTipoPlatillo">
                    <option value = "1">Activo</option>
                    <option value = "0">Inactivo</option>
                  </select>
                  <input type="hidden" class="form-control" id="IDTipoPlatillo" required>
            </form>
               
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn_confirmation_mi_color" onclick="ActualizarTipoPlatillo();">Modificar</button>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="AgregarTipoPlatillo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title " id="exampleModalLabel" >Agregar tipo de consumo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="POST">
                {% csrf_token %}
                <h4 style="font-size: 20px;">Nombre<span class="asterisco">*</span></h4>
                <input type="text" class="form-control" id="NameTipoPlatilloAgregar" required>
                <!-- <h4 style="font-size: 20px;">Estado</h4>
                <select class="form-control" id="EstadoTipoPlatilloAgregar">
                    <option>activo</option>
                    <option>inactivo</option>
                  </select> -->
            </form>
               
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn_confirmation_mi_color" onclick="Agregar_TipoPlatillo();">Agregar</button>
        </div>
      </div>
    </div>
</div>


<script>
    function Impresion(id,nombre, estado){
      $("#NameTipoPlatillo").val(nombre);
      $("#EstadoTipoPlatillo").val((estado === "1") ? 1 : 0);
      $("#IDTipoPlatillo").val(id);
    }  

    function ActualizarTipoPlatillo() {
      const nombre = $("#NameTipoPlatillo").val();
      const estado = $("#EstadoTipoPlatillo").val();
      const Id = $("#IDTipoPlatillo").val();

      Swal.fire({
        title: "Procesando...",
        text: "Por favor espere",
        allowOutsideClick: false,
        didOpen: () => Swal.showLoading()
      });
  
      $.ajax({
        url: '/ActualizarTipoPlatillo/',
        method: 'POST',
        data: {
          Nombre: nombre,
          id: Id,
          estado: estado,
          csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
        },

        success: function (response) {

            if (response.status === "ok") {
              Swal.fire({
                icon: "success",
                title: response.message,
                confirmButtonColor: '#ff6464'
              }).then(() => location.reload());
            } 
            else {
              Swal.fire({
                icon: "warning",
                title: "Advertencia",
                text: response.message,
                confirmButtonColor: '#ff6464'
              });
            }
        },

        error: function (xhr) {
          let msg = "Ocurrió un error inesperado.";
          if (xhr.responseJSON && xhr.responseJSON.message) {
              msg = xhr.responseJSON.message;
          }

          Swal.fire({
              icon: "error",
              title: "Error",
              text: msg,
              confirmButtonColor: '#ff6464'
          });
        }
      });
    }  
    
    function DarBajaImpresion(id)
    {
      $("#IdTipoPlatilloBaja").val(id);
    }

    async function DarBajaTipoPlatillo(idTipo) {
      // Confirmación inicial
      const confirmacion = await Swal.fire({
          title: "¿Realmente desea eliminar este tipo de consumo?",
          icon: "warning",
          iconColor: "#ff964e",
          showCancelButton: true,
          cancelButtonText: "Cancelar",
          confirmButtonText: "Eliminar",
          confirmButtonColor: "#ff6464"
      });
  
      if (!confirmacion.isConfirmed) return;
  
      try {
        // Modal de carga
        Swal.fire({
            title: "Procesando...",
            text: "Por favor espere",
            allowOutsideClick: false,
            didOpen: () => Swal.showLoading()
        });

        const token = document.getElementsByName("csrfmiddlewaretoken")[0].value;

        // Enviar petición
        let datos = new FormData();
        datos.append("id", idTipo);
        datos.append("csrfmiddlewaretoken", token);

        let respuesta = await fetch("/DarBajaTipoPlatillo/", {
            method: "POST",
            body: datos
        });

        let json = await respuesta.json();

        if (json.status === "ok") {
            await Swal.fire({
                title: "¡Tipo de consumo eliminado correctamente!",
                icon: "success",
                confirmButtonColor: "#ff6464",
            });
            location.reload();
        } else {
            await Swal.fire({
                title: "Error",
                text: json.message || "No se pudo realizar la acción.",
                icon: "error",
                confirmButtonColor: "#ff6464"
            });
        }
      } catch (error) {
        Swal.fire({
            title: "Error",
            text: error,
            icon: "error",
            confirmButtonColor: "#ff6464"
        });
      }
    }
    
    function Agregar_TipoPlatillo() {
      const nombre = $("#NameTipoPlatilloAgregar").val();
      const estado = $("#EstadoTipoPlatilloAgregar").val();

      Swal.fire({
        title: "Procesando...",
        text: "Por favor espere",
        allowOutsideClick: false,
        didOpen: () => Swal.showLoading()
      });
  
      $.ajax({
        url: '/AgregarTIpoPlatillo/',
        method: 'POST',
        data: {
            Nombre: nombre,
            Estado: estado,
            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
        },

        success: function (response) {
            if (response.status === "ok") {
                Swal.fire({
                    icon: "success",
                    title: response.message,
                    confirmButtonColor: '#ff6464'
                }).then(() => location.reload());
            } else {
                Swal.fire({
                    icon: "warning",
                    title: "Advertencia",
                    text: response.message,
                    confirmButtonColor: '#ff6464'
                });
            }
        },

        error: function (xhr) {
            let msg = "Ocurrió un error inesperado.";
            if (xhr.responseJSON && xhr.responseJSON.message) {
                msg = xhr.responseJSON.message;
            }

            Swal.fire({
                icon: "error",
                title: "Error",
                text: msg,
                confirmButtonColor: '#ff6464'
            });
        }
      });
    }  

  </script>
{% endblock %}