{% csrf_token %} {% load static %} 

<!-- TABLA CON SU RESPECTIVO CONTENIDO -->
    <table class="hover tablaInventario" style="width:100%;">
        <thead>
            <!-- Columnas -->
            <tr>
                <th title="Columna de los nombres de los tipos de consumible">Tipo de consumible</th>

                {% if VerEliminados == "1" %}
                    <th title="Estado de los tipos de consumibles">Estado</th>
                {% endif %}
                
                <th title="Columna de acciones que se pueden realizar sobre los tipos de consumibles">Acciones</th>
            </tr>
        </thead>

        <!-- Filas -->
        <tbody>
            {% for tipoplatillo in TypePlatillo%}
            <tr>
                <td style="text-transform: capitalize; " title="Nombre del tipo de consumible">{{tipoplatillo.Nombre}}</td>

                {% if VerEliminados == "1" %}
                    <td title="Estado del tipo de consumible (Activo | Inactivo)">
                    {% if tipoplatillo.EsActivo == "1" %} 
                    <span class="badge-green">
                        Activo
                    </span>
                    {% else %}
                    <span class="badge-red">
                        Inactivo
                    </span>
                    {% endif %}
                    </td>
                {% endif %}

                <td class="actions">

                    <button class="actionButton btnEditar" data-toggle="modal" data-target="#ModificarTipoPlatillo" onclick="Impresion('{{tipoplatillo.Id}}', '{{tipoplatillo.Nombre}}','{{tipoplatillo.EsActivo}}');" id="Editar{{tipoplatillo.Id}}" title="Permite modificar los datos del tipo de consumible">
                        <a >
                            <img src="{% static 'img/Edit1.png' %}" alt="Editar">
                        </a>
                    </button>

                    {% if tipoplatillo.EsActivo == "1" %}
                      <button class="actionButton btnEliminar"
                      onclick="DarBajaTipoPlatillo('{{ tipoplatillo.Id }}')"
                      id="Eliminar{{ tipoplatillo.Id }}" title="Permite desactivar un tipo de consumible">
                        <a>
                            <img src="{% static 'img/delete1.png' %}" alt="Eliminar">
                        </a>
                    </button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
      
    </table>