{% extends 'index.html' %}

{% block content %}
{% load static %}


<div id="encabezado_inventario">
    <button id="agregar" data-toggle="modal" data-target="#AgregarPlatillo">
            <img src="{% static 'img/icon_add_2.png' %}" style="width: 25px; height: 25px; margin-right: 10px;" title="Añadir platillo">Agregar consumo
       
    </button>

    <!-- <input type="text" id="buscar" placeholder="Buscar"> -->

    <select name="" id="listaInventario">
        <option value="">Consumos</option>
        <option value="{% url 'inventario_tipoplatillo' %}">Tipos de consumo</option>
    </select>

    <div class="exportar">
        <button class="excel">
            <a href="{% url 'ExportarPlatillo' %}">
                <img src="{% static 'img/Export_excel_2.png' %}" alt="Exportar en excel" title="Exportar en excel">
            </a>
        </button>
        <button class="pdf">
            <a href="{% url 'CreacionPlatillos_PDF' %}">
                <img src="{% static 'img/Export_pdf_2.png' %}" alt="Exportar en pdf" title="Exportar en pdf">
            <a>
        </button> 
    </div>
</div>

<div id="cuerpoInventario">

    <!-- TABLA CON SU RESPECTIVO CONTENIDO -->
    <table class="display tablaInventario" style="width:100%;">
        <thead>
            <!-- Columnas -->
            <tr>
                <th>Consumo</th>
                <th>Tipo de consumo</th>
                <th>Precio</th>
                <th style="text-align: center">Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <!-- Filas -->
        <tbody>
            {% for platillo in Platillos %}
            <tr>
                <td style="text-transform: capitalize; ">{{platillo.Nombre|lower}}</td>
                <td>{{platillo.IdTipoPlatillo.Nombre}}</td>
                <td>C${{platillo.Precio}}</td>

                {% comment %} TODO: Agregar un ícono en lugar de un texto {% endcomment %}
                <td style="text-align: center;">
                    {% if platillo.EsActivo == "1" %} 
                    &#9989;
                    {% else %}
                    &#9940;
                    {% endif %}
                </td>
                
                <td class="actions">

                    <button class="actionButton btnEditar" data-toggle="modal" data-target="#exampleModal" 
                    onclick='Impresion("{{platillo.Id}}" , "{{platillo.Nombre}}", "{{platillo.IdTipoPlatillo.Nombre}}", "{{platillo.IdTipoPlatillo.Id}}","{{platillo.Precio}}","{{platillo.EsActivo}}", "{{platillo.Descripcion}}" );'  id="Editar{{platillo.Id}}">
                        <a>
                            <!-- <i class="fa-sharp fa-solid fa-pen fa-lg" style="color: #ffBA4A; padding: 5px 5px;"></i> -->
                            <img src="{% static 'img/Edit1.png' %}" alt="Editar" title="Editar platillo">
                        </a>
                    </button>

                    {% if platillo.EsActivo == "1" %}
                        <button class="actionButton btnEliminar" onclick="DarBaja_Platillo({{platillo.Id}});" id="Eliminar{{platillo.Id}}">
                            <a>
                                <!-- <i class="fa-solid fa-trash-can fa-lg" style="color: #ff6969; padding: 5px 5px;"></i> -->
                                <img src="{% static 'img/delete1.png' %}" alt="Eliminar" title="Eliminar platillo">
                            </a>
                        </button>
                    {% endif %}
                    <!--
                    <button class="actionButton btnDetalles" id=Detalle{{platillos.id}}>
                        <a href="">
                            <i class="fa-solid fa-info fa-lg" style="color: #ffBA4A; padding: 5px 5px;"></i> 
                            <img src="{% static 'img/info1.png' %}" alt="Más información" title="Más información">
                        </a>
                    </button>-->
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <!-- <tfoot>
                <tr>
                    <th>Insumo</th>
                    <th>Presentación</th>
                    <th>Stock</th>
                    <th>Unidad de medida</th>
                </tr>
            </tfoot> -->
    </table>
</div>

<div class="modal-overlay"></div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title " id="exampleModalLabel" >Modificar consumo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="POST">
                {% csrf_token %}
                <div class="row">
                    
                    <div class="col-md-12 pb-3">
                        <h4 style="font-size: 20px;">Nombre</h4>
                        <input type="text" class="form-control" id="NombrePlatillo" required>
                    </div>
                    <div class="col-md-6 pb-3">
                        <h4 style="font-size: 20px;">Tipo de consumo</h4>
                        <select class="form-control" id="TipoPlatillo">
                            {% for tipoplatillo in TypePlatillo %}
                            {% if tipoplatillo.EsActivo == "1" %}
                                <option value="{{ tipoplatillo.Id }}">{{ tipoplatillo.Nombre }}</option>
                            {% else %}
                                <option value="{{ tipoplatillo.Id }}" disabled>{{ tipoplatillo.Nombre }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6 pb-3">
                        <h4 style="font-size: 20px;">Precio (C$)</h4>
                        <input type="text" inputmode="numeric" class="form-control" id="PrecioPlatillo"  onkeypress="return soloNumeros(event)" required>
                    </div>
                    <div class="col-md-6 pb-3">
                        <h4 style="font-size: 20px;">Estado</h4>
                        <select class="form-control" id="EstadoPlatillo">
                            <option value="1">Activo</option>
                            <option value="0">Inactivo</option>
                        </select>
                    </div>

                    <div class="col-md-6 pb-3">
                        <h4 style="font-size: 20px;">Imagen</h4>
                        <label for="archivoModal_dos"
                        id="LabelArchivo_dos"
                        style="font-size: medium; 
                        text-align: center; 
                        background-color: #6c757d; 
                        padding-top: 6px;
                        padding-left: 10px;
                        padding-right: 10px;
                        cursor: pointer;
                        color: white;
                        width: 100%;
                        height: 35px;
                        border-radius: 5px;
                        text-align: center;
                        margin-top: 2px;">
                           <span id="SpanLabel_dos"> Cargar imagen</span>
                            <!-- <i class='bx bx-check' id="iconoCargarImagen" style="color: #00ff1e; margin-left: 3px; display: none;"></i>  -->
                            <i class="fa-solid fa-check" id="iconoCargarImagen_dos" style="color: #00ff1e; margin-left: 3px; display: none;"></i>                               
                        </label>
                        <input type="file" accept="image/png,image/jpeg,image/jpg" id="archivoModal_dos" onchange="VerificarArchivo_dos(this)"
                        style="position: absolute;
                            right: 0;
                            width: 180px;
                            display: none;
                            cursor: pointer;">
                    </div>

                    <input type="hidden" class="form-control" id="IDPlatillo">
                    
                    <div class="col-md-12">
                        <h4 style="font-size: 20px;">Descripción</h4>
                        <input type="text" class="form-control" id="DescripcionPlatillo" >
                    </div>
                </div>
            </form>
               
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn_confirmation_mi_color" onclick="ActualizarPlatillo();">Modificar</button>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="AgregarPlatillo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title " id="exampleModalLabel" >Agregar consumo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="POST">
                {% csrf_token %}
                <h4 style="font-size: 20px;">Nombre<span class="asterisco">*</span></h4>
                <input type="text" class="form-control" id="NombrePlatilloAgregar" required>

                <div class="row">
                    <div class="col-md-6">
                        <h4 style="font-size: 20px;">Tipo de consumo<span class="asterisco">*</span></h4>
                        <select class="form-control" id="TipoPlatilloAgregar">
                            {% for tipoplatillo in TypePlatillo %}
                                {% if tipoplatillo.EsActivo == "1" %}
                                    <option value="{{ tipoplatillo.Id }}">{{ tipoplatillo.Nombre }}</option>
                                 {% else %}
                                    <option value="{{ tipoplatillo.Id }}" disabled>{{ tipoplatillo.Nombre }}</option>
                                {% endif %}
                            {% endfor %}
                           
                        </select>
                    </div>
                    <div class="col-md-6">
                        <h4 style="font-size: 20px;">Precio (C$)<span class="asterisco">*</span></h4>
                        <input type="number" class="form-control" id="PrecioPlatilloAgregar" required>
                    </div>
                    <div class="col-md-6">
                        <h4 style="font-size: 20px;">Estado</h4>
                        
                        <select class="form-control" id="EstadoPlatilloAgregar">
                            <option value ="1">Activo</option>
                            <option value = "0">Inactivo</option>
                        </select> 
                    </div>

                    <div class="col-md-6 pb-4">
                        <h4 style="font-size: 20px;">Imagen</h4>
                        <label for="archivoModal"
                        id="LabelArchivo"
                        style="font-size: medium; 
                        text-align: center; 
                        background-color: #6c757d; 
                        padding-top: 6px;
                        padding-left: 10px;
                        padding-right: 10px;
                        cursor: pointer;
                        color: white;
                        width: 100%;
                        height: 35px;
                        border-radius: 5px;
                        text-align: center;
                        margin-top: 2px;">
                           <span id="SpanLabel">Cargar imagen</span>
                            <!-- <i class='bx bx-check' id="iconoCargarImagen" style="color: #00ff1e; margin-left: 3px; display: none;"></i>  -->
                            <i class="fa-solid fa-check" id="iconoCargarImagen" style="color: #00ff1e; margin-left: 3px; display: none;"></i>                               
                        </label>
                        <input type="file" accept="image/png,image/jpeg,image/jpg" id="archivoModal" onchange="VerificarArchivo(this)"
                        style="position: absolute;
                            right: 0;
                            width: 180px;
                            display: none;
                            cursor: pointer;">
                    </div>

                    <div class="col-md-12">
                      <h4 style="font-size: 20px;">Descripcion</h4>
                      <input type="text" class="form-control" id="DescripcionPlatilloAgregar" >
                      
                    </div>
                </div>

                
            </form>
               
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn_confirmation_mi_color" onclick="AgregarPlatillo();">Agregar</button>
        </div>
      </div>
    </div>
</div>


<script>

    var btnAgregar = document.getElementById("agregar");

    // Agrega el event listener al elemento
    btnAgregar.addEventListener("click", function () {
        let campoArchivo = document.getElementById("archivoModal");
        let spanArchivo = document.getElementById("SpanLabel");

        campoArchivo.value = "";
        spanArchivo.textContent = "Cargar imagen";

        VerificarArchivo(campoArchivo);
    });

    function soloNumeros(event) {
        var charCode = event.which ? event.which : event.keyCode;
  
        // Permitir números del 0 al 9, el punto decimal y la tecla de retroceso
        if (charCode >= 48 && charCode <= 57 || charCode === 46 || charCode === 8) {
          // Verificar que no se ingresen múltiples puntos decimales
          if (charCode === 46 && event.target.value.indexOf('.') !== -1) {
            event.preventDefault();
            return false;
          }
          return true;
        }
        
        event.preventDefault();
        return false;
    }

    /**********************************************************/

    function Impresion(id, nombre, tipoPlatillo, idTipoPLatillo, precio, estado, descripcion){

        $("#IDPlatillo").val(id);
        $("#NombrePlatillo").val(nombre);
        $("#TipoPlatillo").val(tipoPlatillo);
        $("#PrecioPlatillo").val(precio);
        $("#EstadoPlatillo").val(estado);
        $("#DescripcionPlatillo").val(descripcion);
        $("#TipoPlatillo").val(idTipoPLatillo);

        $("#EstadoPlatillo").val( (estado === "1") ? 1 : 0 );
    }  

    function ActualizarPlatillo(){
        const nombre = $("#NombrePlatillo").val();
        const tipoPlatillo = $("#TipoPlatillo").val();
        const precio =  parseFloat($("#PrecioPlatillo").val());
        const Id = $("#IDPlatillo").val();
        const Estado =  ($("#EstadoPlatillo").val());
        const descripcion = $("#DescripcionPlatillo").val();
        const archivo = $("#archivoModal_dos")[0].files[0]; // Obtenemos el archivo seleccionado

        const formData = new FormData();
        formData.append('Nombre', nombre);
        formData.append('tipoplatillo', tipoPlatillo);
        formData.append('Precio', precio);
        formData.append('estado', Estado);
        formData.append('Descripcion', descripcion);
        formData.append('Imagen', archivo);
        formData.append('id', Id);
        formData.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());


        $.ajax({
            url:'/ActualizarPlatillos/',
            type:'POST',
            data: formData,
            processData: false, // Evita el procesamiento automático de los datos
            contentType: false, // No establece el tipo de contenido automáticamente,
            success: function(response){
                // alert("MODIFICACION EXITOSA");
                Swal.fire({
                    confirmButtonColor: '#ff6464',
                    title: '¡Platillo actualizado correctamente!',
                    icon: 'success'
                })
                .then((resultado) => {
                    location.reload();
                });
            }, 
            error: function(error){
                let ror = error;
                alert("error " + error);
            }
        });
    }

    async function DarBaja_Platillo(idPlatillo) {

        // Confirmación
        const confirmacion = await Swal.fire({
            title: "¿Realmente desea eliminar este consumo?",
            icon: "question",
            iconColor: "#ff964e",
            showCancelButton: true,
            cancelButtonText: "Cancelar",
            confirmButtonText: "Eliminar",
            confirmButtonColor: "#ff6464"
        });
    
        if (!confirmacion.isConfirmed) return;
    
        try {
            // Cargando...
            Swal.fire({
                title: "Procesando...",
                text: "Por favor espere",
                allowOutsideClick: false,
                didOpen: () => Swal.showLoading(),
            });
    
            // Enviar AJAX
            const token = document.querySelector("input[name='csrfmiddlewaretoken']").value;
    
            const response = await fetch("/DarBajaPlatillo/", {
                method: "POST",
                headers: {
                    "X-CSRFToken": token,
                },
                body: new URLSearchParams({
                    id: idPlatillo
                })
            });
    
            const data = await response.json();
    
            if (data.status === "ok") {
                await Swal.fire({
                    title: "¡Consumo eliminado correctamente!",
                    icon: "success",
                    confirmButtonColor: "#ff6464"
                });
                location.reload();
            } else {
                await Swal.fire({
                    title: "Error",
                    text: data.message || "No se pudo eliminar el consumo.",
                    icon: "error",
                    confirmButtonColor: "#ff6464"
                });
            }
    
        } catch (error) {
            await Swal.fire({
                title: "Error",
                text: error,
                icon: "error",
                confirmButtonColor: "#ff6464"
            });
        }
    }    

    function AgregarPlatillo() {

        const formData = new FormData();
        formData.append('Nombre', $("#NombrePlatilloAgregar").val());
        formData.append('tipoplatillo', $("#TipoPlatilloAgregar").val());
        formData.append('Precio', $("#PrecioPlatilloAgregar").val());
        formData.append('estado', $("#EstadoPlatilloAgregar").val());
        formData.append('Descripcion', $("#DescripcionPlatilloAgregar").val());
        formData.append('Imagen', $("#archivoModal")[0].files[0]);
        formData.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());
    
        $.ajax({
            url: '/AgregarPlatillo/',
            method: 'POST',
            data: formData,
            processData: false,
            contentType: false,
    
            success: function (response) {
                if (response.status === "ok") {
    
                    Swal.fire({
                        icon: "success",
                        title: response.message,
                        confirmButtonColor: '#ff6464'
                    }).then(() => location.reload());
    
                } else {
                    Swal.fire({
                        icon: "warning",
                        title: "Advertencia",
                        text: response.message,
                        confirmButtonColor: '#ff6464'
                    });
                }
            },
            error: function (xhr) {
                let msg = "Ocurrió un error inesperado.";
    
                if (xhr.responseJSON && xhr.responseJSON.message) {
                    msg = xhr.responseJSON.message;
                }
    
                Swal.fire({
                    icon: "error",
                    title: "Error",
                    text: msg,
                    confirmButtonColor: '#ff6464'
                });
            }
        });
    }

    function VerificarArchivo(campoArchivo){
        let iconocargar = document.getElementById("iconoCargarImagen");
        let labelArchivo = document.getElementById("LabelArchivo");
        let spanlabel = document.getElementById("SpanLabel");
        if (campoArchivo.files.length > 0) 
        {
            iconocargar.style.display = "initial";

            console.log(campoArchivo.files[0].name);
            console.log(campoArchivo.files[0]);

            spanlabel.textContent = campoArchivo.files[0].name;
            spanlabel.title = campoArchivo.files[0].name;
            return true;
        } else {
            iconocargar.style.display = "none";

            return false;
        }
    }
    function VerificarArchivo_dos(campoArchivo){
        let iconocargar = document.getElementById("iconoCargarImagen_dos");
        let labelArchivo = document.getElementById("LabelArchivo_dos");
        let spanlabel = document.getElementById("SpanLabel_dos");
        if (campoArchivo.files.length > 0) 
        {
            iconocargar.style.display = "initial";

            console.log(campoArchivo.files[0].name);
            console.log(campoArchivo.files[0]);

            spanlabel.textContent = campoArchivo.files[0].name;
            spanlabel.title = campoArchivo.files[0].name;
            return true;
        } else {
            iconocargar.style.display = "none";

            return false;
        }
    }
</script>

{% endblock %}