{% extends 'index.html' %}

{% block content %}
{% load static %}

<div id="encabezado_inventario">
  <div id="contenedorIzquierdoEncabezadoInventario">
    <button id="agregar" data-toggle="modal" data-target="#AgregarTipoPlatillo" style="font-size: 15px;">
        <img src="{% static 'img/icon_add_2.png' %}" style="width: 25px; height: 25px; margin-right: 10px;" title="Añadir el tipo de platillo">
    
        <span style="width: 100px; display: inline-block; line-height: 13px;">Agregar tipo de consumible</span>
    </button>
  
    <!-- <input type="text" id="buscar" placeholder="Buscar"> -->
  
    <!--
    <select name="" id="listaInventario">
        <option value="">Tipos de consumible</option>
        <option value="{% url 'inventario_platillos' %}">Consumibles</option>
    </select>
    -->

    <div class="custom-dropdown" id="dropdownInventario">
      <button class="dropdown-trigger" aria-haspopup="true" aria-expanded="false">
          Tipos de consumible <span style="margin-left: 10px;">▼</span>
      </button>
      <ul class="dropdown-menu" role="menu">
          <li role="none"><a href="{% url 'inventario_platillos' %}" role="menuitem">Consumibles</a></li>
          <li role="none"><a href="#" role="menuitem">Tipos de consumible</a></li>
      </ul>
    </div>
  
    <button class="btnExportar" data-toggle="modal" data-target="#ExportarTipoPlatillo" style="margin-left: 20px;">
      <svg width="18" height="24" viewBox="0 0 24 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2.04167 29.7135L0 27.6354L4.30208 23.3333H1.02083V20.4167H9.26042V28.6562H6.34375V25.4115L2.04167 29.7135ZM12.1771 29.1667V26.25H20.9271V10.2083H13.6354V2.91667H3.42708V17.5H0.510417V2.91667C0.510417 2.11458 0.796007 1.42795 1.36719 0.856771C1.93837 0.28559 2.625 0 3.42708 0H15.0937L23.8438 8.75V26.25C23.8438 27.0521 23.5582 27.7387 22.987 28.3099C22.4158 28.8811 21.7292 29.1667 20.9271 29.1667H12.1771Z" fill="#d92644"/>
        </svg>
            
      &nbsp;
      
      Exportar
    </button>
  </div>

  <div id="contenedorDerechoEncabezadoInventario">
    <!-- Botón para mostrar u ocultar los registros inactivos -->
    <!--
      <div class="btnVerInactivos">
        <label for="checkVerTipoConsumiblesInactivos">Incluir inactivos</label>
        <input type="checkbox" id="checkVerTipoConsumiblesInactivos" class="checkVerInactivos">
      </div>
    -->

    <div class="toggle-container">
      <input type="checkbox" id="checkVerTipoConsumiblesInactivos" class="check-toggle">
      <label for="checkVerTipoConsumiblesInactivos" class="label-toggle">Incluir inactivos</label>
    </div>
  </div>
</div>

<div id="cuerpoInventario">
  <!-- TODO EL CONTENIDO ESTÁ EN LA PLANTILLA 'inventario_tipo_platillos_filtrados' -->
</div>

<div class="modal fade" id="ExportarTipoPlatillo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title " id="exampleModalLabel" >Exportar tipo de consumible</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row exportar col-12">
          <div class="col-6">
            <button type="button" class="excel w-100" onclick="ExportarTipoPlatillos('1')">
              <!--
                <img src="{% static 'img/Export_pdf_2.png' %}">
              -->

              <svg width="20" height="24" viewBox="0 0 36 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M35.5003 40H2.16699V36.6667H32.167V10.6667L24.8337 3.33333H5.50033V15H2.16699V0H26.167L35.5003 9.33333V40Z" fill="#66CC66"/>
                <path d="M33.8337 13.3333H22.167V3.33333H25.5003V9.99999H33.8337V13.3333Z" fill="#66CC66"/>
                <path d="M5.16667 25.6667L0.166666 18.3333H4L7.16667 23.1667L10.3333 18.3333H14.1667L9.16667 25.6667L14.3333 33.3333H10.5L7.16667 28.1667L3.83333 33.3333H0L5.16667 25.6667Z" fill="#66CC66"/>
                </svg>
                
              &nbsp;

              EXCEL
            </button>
          </div>
  
          <div class="col-6">
            <button type="button" class="pdf w-100" onclick="ExportarTipoPlatillos('2')">
              <!--
                <img src="{% static 'img/Export_pdf_2.png' %}">
              -->
            
              <svg width="24" height="24" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1693_1025)">
                <path d="M18.3333 33.3333H11.6667V20H18.3333C21 20 23.3333 22.5 23.3333 25.3333V28C23.3333 30.8333 21 33.3333 18.3333 33.3333ZM15 30H18.3333C19.1667 30 20 29 20 28V25.3333C20 24.3333 19.1667 23.3333 18.3333 23.3333H15V30ZM3.33333 33.3333H0V20H5C7.83333 20 10 22.1667 10 25C10 27.8333 7.83333 30 5 30H3.33333V33.3333ZM3.33333 26.6667H5C6 26.6667 6.66667 26 6.66667 25C6.66667 24 6 23.3333 5 23.3333H3.33333V26.6667Z" fill="#e69696"/>
                <path d="M35 20H25V23.3333H35V20Z" fill="#e69696"/>
                <path d="M28.3333 20H25V33.3333H28.3333V20Z" fill="#e69696"/>
                <path d="M33.3333 26.6667H25V30H33.3333V26.6667Z" fill="#e69696"/>
                <path d="M40.0003 40H6.66699V36.6667H36.667V10.6667L29.3337 3.33333H10.0003V15H6.66699V0H30.667L40.0003 9.33333V40Z" fill="#e69696"/>
                <path d="M38.3337 13.3333H26.667V3.33333H30.0003V9.99999H38.3337V13.3333Z" fill="#e69696"/>
                </g>
                <defs>
                <clipPath id="clip0_1693_1025">
                <rect width="40" height="40" fill="white"/>
                </clipPath>
                </defs>
                </svg>

              &nbsp;

              PDF
            </button>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ModificarTipoPlatillo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title " id="exampleModalLabel" >Modificar tipo de consumible</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="POST">
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-6 mb-2">
                    <h4 style="font-size: 20px;">Nombre<span class="asterisco">*</span></h4>
                    <input type="text" class="form-control" id="NameTipoPlatillo" placeholder="Ej: Aperitivos" required>
                  </div>
                  
                  <!--
                    <h4 style="font-size: 20px;">Estado</h4>
                    <select class="form-control" id="EstadoTipoPlatillo">
                      <option value = "1">Activo</option>
                      <option value = "0">Inactivo</option>
                    </select>
                  -->
  
                  <div class="col-md-6 mb-2">
                    <h4 class="titulo-estado" style="margin-bottom: 7px;">Estado<span class="required">*</span></h4>
                        
                    <div class="switch-segmentado" id="switch-estado">
                        <input type="radio" name="estado" id="activo" value="1">
                        <label for="activo">Activo</label>
                
                        <input type="radio" name="estado" id="inactivo" value="0">
                        <label for="inactivo">Inactivo</label>
                
                        <span class="slider-bg"></span>
                    </div>
                  </div>
                </div>
                
                <input type="hidden" class="form-control" id="IDTipoPlatillo" required>
            </form>
               
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn_confirmation_mi_color" onclick="ActualizarTipoPlatillo();">Modificar</button>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="AgregarTipoPlatillo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title " id="exampleModalLabel" >Agregar tipo de consumible</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="POST">
                {% csrf_token %}
                <h4 style="font-size: 20px;">Nombre<span class="asterisco">*</span></h4>
                <input type="text" class="form-control" placeholder="Ej: Aperitivos" id="NameTipoPlatilloAgregar" required>
                <!-- <h4 style="font-size: 20px;">Estado</h4>
                <select class="form-control" id="EstadoTipoPlatilloAgregar">
                    <option>activo</option>
                    <option>inactivo</option>
                  </select> -->
            </form>
               
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn_confirmation_mi_color" onclick="Agregar_TipoPlatillo();">Agregar</button>
        </div>
      </div>
    </div>
</div>

<script src="{% static 'js/inventario_tipo_platillo.js' %}"></script>

{% endblock %}