{% extends 'index.html' %}

{% block content %}
{% load static %}

<div id="contenidoMiPerfil">
    <div id="cuadroEditarPerfil">
        <!-- IZQUIERDA -->
        <div id="izquierdaEditarPerfil">
            <form action="" method="post">
                {% csrf_token %}

                <div id="seccionesEditarPerfil" class="row mx-0">
                    <!-- DATOS DE PERFIL -->
                    <div id="seccionDatosDePerfil" class="col-12 pr-0">
                        <div class="row ml-0">
                            <div class="col-12 mt-3">
                                <h5>Datos de perfil</h5>
                            </div>
                
                            <div class="col-12 mb-2 d-flex flex-column">
                                <label>Nombre</label>
                                <input type="text" class="form-control mt-auto" id="FullNameEditarPerfil" value="{{ Usuario.Nombres }} {{ Usuario.Apellidos }}" readonly>
                            </div>
                
                            <div class="col-6 d-flex flex-column">
                                <label>Correo</label>
                                <input type="email" class="form-control mt-auto" id="CorreoEditarPerfil" value="{{ Usuario.email }}">
                            </div>
                
                            <div class="col-6 d-flex flex-column">
                                <label>Teléfono</label>
                                <input type="text"
                                       inputmode="numeric"
                                       class="form-control mt-auto"
                                       maxlength="8"
                                       id="telefono"
                                       value="{{ Usuario.Telefono|default_if_none:'' }}"
                                       placeholder="Ej: 88888888"
                                       onkeypress="return soloNumeros(event)">
                            </div>
                        </div>
                    </div>
                    <!-- FIN DATOS DE PERFIL -->
                    
                    <!-- DATOS DE USUARIO -->
                    <div id="seccionDatosDeUsuario" class="col-12 pr-0">
                        <div class="row ml-0">
                            <div class="col-12 mt-1">
                                <hr>
                            </div>

                            <div class="col-12 mt-0">
                                <h5>Datos de usuario</h5>
                            </div>
                
                            <div class="col-6 mb-2 d-flex flex-column">
                                <label>Nombre de usuario</label>
                                <input type="text" class="form-control mt-auto" id="UserNameEditarPerfil" value="{{ Usuario.username }}">
                            </div>
                
                            <div class="col-6 mb-2 d-flex flex-column">
                                <label>Cargo</label>
                                <input type="text" class="form-control mt-auto" id="CargoEditarPerfil" value="{{ Usuario.IdCargo.Nombre }}" readonly>
                            </div>
                
                            <div class="col-6 mb-2 d-flex flex-column">
                                <label>Contraseña</label>
                                <input type="Password" class="form-control mt-auto" id="PassEditarPerfil" value="********" readonly>
                            </div>

                            <div class="col-6 mb-2 d-flex flex-column">
                                <span class="invisible">.</span>

                                <input type="Submit" value="Confirmar cambios" class="btn btn-danger mt-auto">
                            </div>

                            <div class="col-6 mb-2 d-flex flex-column">
                                <input type="Submit" id="btnCambiarPassEditarPerfil" value="Cambiar contraseña" class="btn mt-auto">
                            </div>
                        </div>
                    </div>
                    <!-- FIN DATOS DE USUARIO -->
                </div>
            </form>
        </div>

        <!-- DERECHA -->
        <div id="derechaEditarPerfil">
            <img id="imagenEditarPerfil" src="{% static 'img/edit_user_ilustration.png' %}" alt="Editar perfil">
        </div>
    </div>
</div>

<script src="{% static 'js/mi_perfil.js' %}"></script>

{% endblock %}