{% csrf_token %} {% load static %} 
{% for Orden in Ordenes %}

<div class="ordenPoFoC">
  <div class="encabezadoPoFoC">
    <h5>
      Orden #{{ Orden.Id }} - 
      {% if Orden.Estado == "1" %} Pendiente
      <div class="EstP"></div>
      {% elif Orden.Estado == "0" %} Facturada
      <div class="EstF"></div>
      {% elif Orden.Estado == "3" %} Preparada
      <div class="EstPre"></div>
      {% elif Orden.Estado == "4" %} En preparación
      <div class="EstEnPre"></div>
      {% else %} Anulada
      <div class="EstC"></div>
      {% endif %}
    </h5>
    <h4>Total: C${{Orden.Total}}</h4>
  </div>
  <!-- Fin encabezadoPoFoC -->

  <div class="seccionesPoFoC">
    <div class="seccionIzquierda">
      <h4 style="margin: 0">Area: {{Orden.AreaDeMesa}}</h4>
      <h5>
        Mesas ocupadas: 
        {% for mesa in Orden.Mesas.all %}
        #{{mesa.IdMesa.Numero}} 
        {% if not forloop.last %} - {% endif %} 
        {% endfor %}
      </h5>
      <h6>{{Orden.Fecha}}</h6>
    </div>
    <div class="seccionDerecha">
      {% if Orden.Estado == "1" %}
      <button
        class="btnCancelarOrden"
        onclick="CancelarOrden('{{Orden.Id}}')"
      >
        <i class="fa-solid fa-ban"></i> Anular
      </button>

      <button
        class="btnFacturarOrden"
        data-toggle="modal"
        data-target="#FacturarOrden"
        onclick="rellenarParaFacturar('{{Orden.Id}}', '{{Orden.Total}}')"
      >
        <i class="fa-solid fa-file-invoice-dollar"></i> Facturar
      </button>

      {% elif Orden.Estado == "2" %}

        {% if Orden.Motivo is not none and Orden.Motivo != '' %}
          <div class="motivoOrden">
            <!-- TODO: RECORDAR PONER ICONO DE COMENTARIO -->
            <span>{{ Orden.Motivo }}</span>
          </div>  
        {% endif %}

      {% endif %}
    </div>
  </div>
</div>
<!-- Fin ordenPoFoc -->

<!-- Inicia descripcion (Se agrega si es necesario) -->
{% if Orden.Descripcion is not none and orden.Descripcion != '' %}
<div class="descripcionOrden">
  <!-- TODO: RECORDAR PONER ICONO DE COMENTARIO -->
  <span>{{ Orden.Descripcion }}</span>
</div>  
{% endif %}

<div class="detalleOrdenPoFoC">
  <div class="cuerpoDetalleOrden" id="idDetalleOrden{{Orden.Id}}">
    <div class="detallitoOrden">
      <span style="width: 70%">Platillo</span>
      <span style="width: 15%">Cantidad</span>
      <span style="width: 10%">Precio</span>

      <hr
        style="
          margin-top: 0;
          margin-bottom: 3px;
          width: 97%;
          border-color: #df362d50;
        "
      />

      {% for Detalle in Orden.Detalles.all %} 
      <div class="detalle">
        <span
          style="width: 70%"
          class="detalleTruncar"
          title="{{ Detalle.IdPlatillo.Nombre }}"
          >{{ Detalle.IdPlatillo.Nombre }}
        </span>

        <span style="width: 15%">{{ Detalle.Cantidad }}</span>
        <span style="width: 10%">C${{ Detalle.PrecioVenta }}</span>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- fin cuerpoDetalleOrden -->
  <div class="botonDesplazarDetalleOrden">
    <button onclick="desplegarDetalles('{{Orden.Id}}')">
      <i
        class="fa-solid fa-angles-down iconoDesplegarDetalles"
        id="iconoOrden{{Orden.Id}}"
      ></i>
    </button>
  </div>
  <!-- fin botonDesplazarDetalleOrden -->
</div>
<!-- Fin ordenPoFoC -->

{% endfor %}
