{% csrf_token %} {% load static %} 
{% for Orden in Ordenes %}

<div class="ordenPoFoC">
  <div class="encabezadoPoFoC">

    {% if Orden.Estado == "1" or Orden.Estado == "4" or Orden.Estado == "3" %}
      {% if Orden.FueEditada %}
        <img src="{% static 'img/white_alert.png' %}" style="top: -22px; left: -37px" alt="Orden editada" class="iconoOrdenEditada">
        <img src="{% static 'img/red_alert_fill.png' %}" alt="Orden editada" class="iconoOrdenEditada">
      {% endif %}
    {% endif %}
    
    <h5>
      Orden #{{ Orden.Id }} - 
      {% if Orden.Estado == "1" %} Pendiente
      <div class="EstP"></div>
      {% elif Orden.Estado == "0" %} Registrada
      <div class="EstF"></div>
      {% elif Orden.Estado == "3" %} Preparada
      <div class="EstPre"></div>
      {% elif Orden.Estado == "4" %} En preparación
      <div class="EstEnPre"></div>
      {% else %} Anulada
      <div class="EstC"></div>
      {% endif %}
    </h5>
    <h4>Total: C${{Orden.Total}}</h4>
  </div>
  <!-- Fin encabezadoPoFoC -->

  <div class="seccionesPoFoC">
    <div class="seccionIzquierda">
      <h4 style="margin: 0">Area: {{Orden.AreaDeMesa}}</h4>
      <h5>
        Mesas ocupadas: 
        {% for mesa in Orden.Mesas.all %}
        #{{mesa.IdMesa.Numero}} 
        {% if not forloop.last %} - {% endif %} 
        {% endfor %}
      </h5>

      {% if Orden.Estado == "1" %}
        <span class="timer" style="color: #555555" id="timer-{{ Orden.Id }}-{{Orden.Estado}}" data-estado="{{ Orden.Estado }}"
              data-fecha="{{ Orden.Fecha|date:'Y-m-d\\TH:i:s' }}">
        </span>
      {% elif Orden.Estado == "4" %}
        <span class="timer" style="color: #555555" id="timer-{{ Orden.Id }}" data-estado="{{ Orden.Estado }}" 
              data-fecha="{{ Orden.UltimaModificacion|date:'Y-m-d\\TH:i:s' }}">
        </span>
      {% else %}
        <h6 style="color: #555555">{{ Orden.UltimaModificacion|date:"j \\d\\e F \\d\\e Y \\a \\l\\a\\s g:i A" }}</h6>
      {% endif %}
    </div>
    <div class="seccionDerecha">
      <!-- Pendiente -->
      {% if Orden.Estado == "1" %}
      
        {% if CargoUsuario == "Mesero" or CargoUsuario == "Administrador" %}
          <!-- Anular orden -->
          <button
            class="btnCancelarOrden"
            onclick="CancelarOrden('{{Orden.Id}}')"
          >
            <i class="fa-solid fa-ban"></i> Anular
          </button>

          <!-- Editar la orden -->
          <button
          class="btnEditarOrden"
          data-toggle="modal"
          data-target="#EditarOrden"
          onclick="rellenarParaEditarOrden('{{Orden.Id}}')"
          >Editar
        </button>
        {% endif %}

        {% if CargoUsuario == "Cocinero" or CargoUsuario == "Administrador" %}
          <!-- Cambiar el estado de la orden a 'En preparación' -->
          <button onclick="cambiarEstadoOrden('{{Orden.Id}}', '{% url 'CambiarAEnPreparacion' %}', 'Cambiando a En preparación')">Empezar preparación</button>
        {% endif %}

      <!-- En preparación -->
      {% elif Orden.Estado == "4" %}
        
        {% if CargoUsuario == "Mesero" or CargoUsuario == "Administrador" %}
          <!-- Anular orden -->
          <button
            class="btnCancelarOrden"
            onclick="CancelarOrden('{{Orden.Id}}')"
          >
            <i class="fa-solid fa-ban"></i> Anular
          </button>

          <!-- Editar la orden -->
          <button
          class="btnEditarOrden"
          data-toggle="modal"
          data-target="#EditarOrden"
          onclick="rellenarParaEditarOrden('{{Orden.Id}}')"
          >Editar
        </button>
        {% endif %}

        {% if CargoUsuario == "Cocinero" or CargoUsuario == "Administrador" %}
          <!-- Cambiar el estado de la orden a 'Preparada' -->
          <button onclick="cambiarEstadoOrden('{{Orden.Id}}', '{% url 'CambiarAPreparado' %}', 'Cambiando a Preparada')">Confirmar preparado</button>
        {% endif %}

      <!-- Preparado -->
      {% elif Orden.Estado == "3" %}
      
        <!-- Anular orden -->
        <button
          class="btnCancelarOrden"
          onclick="CancelarOrden('{{Orden.Id}}')"
        >
          <i class="fa-solid fa-ban"></i> Anular
        </button>

        <!-- Editar la orden -->
        <button
          class="btnEditarOrden"
          data-toggle="modal"
          data-target="#EditarOrden"
          onclick="rellenarParaEditarOrden('{{Orden.Id}}')"
          >Editar
        </button>

        <!-- Registrar la orden -->
        <button
          class="btnFacturarOrden"
          data-toggle="modal"
          data-target="#FacturarOrden"
          onclick="rellenarParaFacturar('{{Orden.Id}}', '{{Orden.Total}}')"
        >
          <i class="fa-solid fa-file-invoice-dollar"></i> Registrar
        </button>

      <!-- Anulada -->
      {% elif Orden.Estado == "2" %}

        {% if Orden.Motivo is not none and Orden.Motivo != '' %}
          <div class="motivoOrden">
            <!-- TODO: RECORDAR PONER ICONO DE COMENTARIO -->
            <span>{{ Orden.Motivo }}</span>
          </div>  
        {% endif %}

      {% endif %}
    </div>
  </div>
</div>
<!-- Fin ordenPoFoc -->

<!-- Inicia descripcion (Se agrega si es necesario) -->
{% if Orden.Descripcion is not none and Orden.Descripcion != '' %}
  <div class="descripcionOrden">
    <!-- TODO: RECORDAR PONER ICONO DE COMENTARIO -->
    <span>{{ Orden.Descripcion }}</span>
  </div>  
{% endif %}

{% if Orden.DescripcionEdicion is not none and Orden.DescripcionEdicion != '' %}
  <div class="descripcionEdicionOrden">
    <!-- TODO: RECORDAR PONER ICONO DE ALERTA -->
    <span>{{ Orden.DescripcionEdicion }}</span>
  </div>  
{% endif %}

<div class="detalleOrdenPoFoC">
  <div class="cuerpoDetalleOrden" id="idDetalleOrden{{Orden.Id}}">
    <div class="detallitoOrden">
      <span style="width: 70%">Platillo</span>
      <span style="width: 15%">Cantidad</span>
      <span style="width: 10%">Precio</span>

      <hr
        style="
          margin-top: 0;
          margin-bottom: 3px;
          width: 97%;
          border-color: #df362d50;
        "
      />

      {% for Detalle in Orden.Detalles.all %} 
      <div class="detalle">
        <span
          style="width: 70%"
          class="detalleTruncar"
          title="{{ Detalle.IdPlatillo.Nombre }}"
          >{{ Detalle.IdPlatillo.Nombre }}
        </span>

        <span style="width: 15%">{{ Detalle.Cantidad }}</span>
        <span style="width: 10%">C${{ Detalle.PrecioVenta }}</span>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- fin cuerpoDetalleOrden -->
  <div class="botonDesplazarDetalleOrden">
    <button onclick="desplegarDetalles('{{Orden.Id}}')">
      <i
        class="fa-solid fa-angles-down iconoDesplegarDetalles"
        id="iconoOrden{{Orden.Id}}"
      ></i>
    </button>
  </div>
  <!-- fin botonDesplazarDetalleOrden -->
</div>
<!-- Fin ordenPoFoC -->

{% endfor %}
