{% load static %}

{% for platillo in Platillos %}

<!-- Se muestra un platillo -->
<div class="vplatillo" id="platillo{{platillo.id}}">
    <div class="datoPlatillo">
        {% if platillo.imagen_platillo != "" %}
        <img src="/media/{{ platillo.imagen_platillo }}" alt="Imagen de {{platillo.nombreplatillo}}">
        {% else %}
        <img src="{% static 'img/ProductoSinFoto.png' %}" alt="">
        {% endif %}
    </div>

    <div class="accionesPlatillo">
        <span class="nombrePlatillo">{{ platillo.nombreplatillo }}</span>
        <span class="precioPlatillo">C${{ platillo.precioplatillo }}</span>

        <fieldset>
            <legend>Cantidad</legend>

            <div class="cantidad">

                <!-- Botones input para cantidad -->
                <button id="less" onclick="cambio('{{platillo.id}}', 0)">-</button>
                <input type="number" id="{{platillo.id}}" value="0" disabled>
                <button id="plus" onclick="cambio('{{platillo.id}}', 1)">+</button>

            </div>
        </fieldset>

        <div class="botonesPlatillo">
            <button class="btninfoPlatillo">
                <img src="{% static 'img/info2.png' %}" alt="" style="width: 15px; height: 15px; padding: 1px;">
            </button>

            <button class="btnaddCarrito" id="addcarrito{{platillo.id}}"
                onclick='addCarrito("{{platillo.id}}", "{{platillo.nombreplatillo}}", "{{platillo.precioplatillo}}")'
                disabled>
                <img src="{% static 'img/carrito.png' %}" alt="" style="width: 20px; height: 20px;">
                <span style="transform: translateY(-5px);">Agregar</span>
                </img>
            </button>
        </div>
    </div>
</div> <!-- Cierre vplatillo -->

{% endfor %}