{% extends 'index.html' %}

{% block content %}
{% load static %}

<form action="">
    {% csrf_token %}
</form>

<div id="encabezado_inventario">
    <div id="contenedorIzquierdoEncabezadoInventario">
        
        {% if Cargo == "Administrador" %}

            <div class="contenedorFechasReportes">
                <input type="date" id="fechaDesde" name="fecha_desde">
            </div>
            
            <div class="contenedorFechasReportes">
                <input type="date" id="fechaHasta" name="fecha_hasta">
            </div>

            <small id="errorFechas" style="color:#dc3545; display:none;">
                La fecha <strong>de inicio</strong> no puede ser mayor que la<strong> fecha fin</strong>
            </small>

        {% else %}
            <input type="date" style="display: none;" id="fechaDesde" name="fecha_desde">
            <input type="date" style="display: none;" id="fechaHasta" name="fecha_hasta">

            <small id="errorFechas" style="color:#dc3545; display:none;">
                La fecha <strong>de inicio</strong> no puede ser mayor que la<strong> fecha fin</strong>
            </small>
        {% endif %}

        <select name="" id="listaEstadoOrdenesExportar">
            <option value="0">Pago registrado</option>
            <option value="2">Anuladas</option>
            <option value="0,2">Ambas</option>
        </select>

        <div id="contenedorBtnAplicarFiltros">
            <button id="btnAplicarFiltrosOrdenes" data-toggle="modal" data-target="#FiltrarOrdenes">
                <svg width="22" height="22" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.701 26.6667C11.2288 26.6667 10.8329 26.5069 10.5135 26.1875C10.194 25.8681 10.0343 25.4722 10.0343 25V15L0.367647 2.66667C-0.0490196 2.11111 -0.11152 1.52778 0.180147 0.916667C0.471814 0.305556 0.978758 0 1.70098 0H25.0343C25.7565 0 26.2635 0.305556 26.5551 0.916667C26.8468 1.52778 26.7843 2.11111 26.3676 2.66667L16.701 15V25C16.701 25.4722 16.5413 25.8681 16.2218 26.1875C15.9024 26.5069 15.5065 26.6667 15.0343 26.6667H11.701ZM13.3676 13.8333L21.6176 3.33333H5.11765L13.3676 13.8333Z" fill="white"/>
                    </svg>

                &nbsp;
                
                Más filtros
            </button>

            <div id="indicadorFiltros"></div>
        </div>

    </div>

    <div id="contenedorDerechoEncabezadoInventario">
        <!-- Botón para mostrar u ocultar los registros inactivos -->
        <button data-toggle="modal" data-target="#ExportarOrdenes" style="margin-left: 20px;" id="btnExportarOrdenes" disabled>Exportar</button>
    </div>
</div>

<div id="cuerpoInventario">
    <!-- TODO EL CONTENIDO ESTÁ EN LA PLANTILLA 'reportes_ordenes_filtradas' -->

    <table class="display tablaInventario" style="width:100%;">
        <thead>
            <!-- Columnas -->
            <tr>
                <th>Nº orden</th>
                <th>Fecha y hora</th>
                <th>Mesas</th>
                <th>Área</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <!-- Filas -->
        <tbody>
        </tbody>
    </table>
</div>

<div class="modal-overlay"></div>

<div class="modal fade" id="ExportarOrdenes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title " id="exampleModalLabel" >Exportar órdenes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body row exportar col-12">
                <div class="col-6">
                    <button class="excel w-100" onclick="ExportarOrdenes('1')">
                        <img src="{% static 'img/Export_excel_2.png' %}">
                    </button>
                </div>
        
                <div class="col-6">
                    <button class="pdf w-100" onclick="ExportarOrdenes('2')">
                        <img src="{% static 'img/Export_pdf_2.png' %}">
                    </button>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <label>
                    <input type="checkbox" id="check_incluir_detalles" name="incluir_detalles" value="false">
                    Incluir detalles
                </label>
                
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div
    class="modal fade"
    id="EditarOrden"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true">
  <div class="modal-dialog modal-editar-orden" role="document">
    <div class="modal-content"  id="contenidoDetalleOrden">
      <!-- modal-header, modal-body y modal-footer se encuentran en detalle_orden_editar.html -->
    </div>
  </div>
</div>

<div class="modal fade" id="FiltrarOrdenes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title " id="exampleModalLabel" >Filtrar órdenes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="alert alert-info alert-dismissible mb-0">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                Puedes seleccionar una o más áreas de mesa
            </div>

            <div class="modal-body col-12">
                <h5 style="color: #555555; font-size: 20px;">Áreas de mesa</h5>
                
                <div id="areasBusqueda">
                    {% for Area in Areas%}
                    <div class="form-check">
                        <input class="form-check-input" 
                               type="checkbox" 
                               name="areas[]" 
                               value="{{ Area.Id }}" 
                               id="tipo_{{ Area.Id }}">
                               
                        <label class="form-check-label" for="tipo_{{ Area.Id }}">
                            {{ Area.Nombre }}
                        </label>
                    </div>
                    {% endfor %}
                </div>

                <!-------------------------------------------->

                {% if Cargo == "Administrador" %}
                    
                    <hr>

                    <h5 style="color: #555555; font-size: 20px;">Fechas</h5>

                    <div id="fechasFiltro">

                        <div class="form-radio">
                            <input class="form-radio-input"
                                type="radio"
                                name="fecha"
                                value="1"
                                id="tipo_fecha_1">
                    
                            <label class="form-radio-label" for="tipo_fecha_1">
                                Hoy
                            </label>
                        </div>
                    
                        <div class="form-radio">
                            <input class="form-radio-input"
                                type="radio"
                                name="fecha"
                                value="2"
                                id="tipo_fecha_2">
                    
                            <label class="form-radio-label" for="tipo_fecha_2">
                                Ayer
                            </label>
                        </div>

                        <div class="form-radio">
                            <input class="form-radio-input"
                                type="radio"
                                name="fecha"
                                value="3"
                                id="tipo_fecha_3">
                    
                            <label class="form-radio-label" for="tipo_fecha_3">
                                Últimos 7 días
                            </label>
                        </div>

                        <div class="form-radio">
                            <input class="form-radio-input"
                                type="radio"
                                name="fecha"
                                value="4"
                                id="tipo_fecha_4">
                    
                            <label class="form-radio-label" for="tipo_fecha_4">
                                Últimos 15 días
                            </label>
                        </div>

                        <div class="form-radio">
                            <input class="form-radio-input"
                                type="radio"
                                name="fecha"
                                value="5"
                                id="tipo_fecha_5">
                    
                            <label class="form-radio-label" for="tipo_fecha_5">
                                Últimos 30 días
                            </label>
                        </div>
                        
                    </div>

                {% endif %}
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>

                <button type="button"
                        class="btn btn-danger"
                        id="btnAplicarFiltros">
                    Aplicar
                </button>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/reportes.js' %}"></script>

{% endblock %}