{% extends 'index.html' %}

{% block content %}
{% load static %}

<form action="">
    {% csrf_token %}
</form>

<div id="encabezado_inventario">
    <div id="contenedorIzquierdoEncabezadoInventario">
        <div class="contenedorFechasReportes">
            <input type="date" id="fechaDesde" name="fecha_desde">
        </div>
        
        <div class="contenedorFechasReportes">
            <input type="date" id="fechaHasta" name="fecha_hasta">
        </div>

        <small id="errorFechas" style="color:#dc3545; display:none;">
            La fecha <strong>de inicio</strong> no puede ser mayor que la<strong> fecha fin</strong>
        </small>

        <div>
            <button data-toggle="modal" data-target="#FiltrarOrdenes">
                Más filtros
            </button>
        </div>
    </div>

    <div id="contenedorDerechoEncabezadoInventario">
        <!-- Botón para mostrar u ocultar los registros inactivos -->
        <button data-toggle="modal" data-target="#ExportarOrdenes" style="margin-left: 20px;">Exportar</button>
    </div>
</div>

<div id="cuerpoInventario">
    <!-- TODO EL CONTENIDO ESTÁ EN LA PLANTILLA 'personal_filtrados' -->

    <table class="display tablaInventario" style="width:100%;">
        <thead>
            <!-- Columnas -->
            <tr>
                <th>Nº orden</th>
                <th>Fecha y hora</th>
                <th>Mesas</th>
                <th>Área</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <!-- Filas -->
        <tbody>
        </tbody>
    </table>
</div>

<div class="modal-overlay"></div>

<div class="modal fade" id="ExportarOrdenes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title " id="exampleModalLabel" >Exportar ordenes</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body row exportar col-12">
                <div class="col-6">
                    <button class="excel w-100">
                        <a href="">
                            <img src="{% static 'img/Export_excel_2.png' %}">
                        </a>
                    </button>
                </div>
        
                <div class="col-6">
                    <button class="pdf w-100">
                        <a href="">
                            <img src="{% static 'img/Export_pdf_2.png' %}">
                        </a>
                    </button>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div
    class="modal fade"
    id="EditarOrden"
    data-backdrop="static"
    data-keyboard="false"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true">
  <div class="modal-dialog modal-editar-orden" role="document">
    <div class="modal-content"  id="contenidoDetalleOrden">
      <!-- modal-header, modal-body y modal-footer se encuentran en detalle_orden_editar.html -->
    </div>
  </div>
</div>

<div class="modal fade" id="FiltrarOrdenes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title " id="exampleModalLabel" >Filtrar ordenes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body row exportar col-12">
                
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/reportes.js' %}"></script>

{% endblock %}