{% extends 'index.html' %}

{% block content %}
{% load static %}

<form action="">
    {% csrf_token %}
</form>

<div class="contenidoVenta">
    <!-- <form action="">
    {% csrf_token %} -->

        <!-- Pagina 1 (Para seleccion de mesa y area) -->
        <div id="pag1">

            <!-- Encabezado del inventario -->
            <div id="encabezadoVenta_pag1">
                <a href="{% url 'OrdenesPendientes' %}">
                    <button id="btnver_ordenes">
                        <img src="{% static 'img/Order2.png' %}" style="width: 30px; height: 30px;" title="Ver ordenes"><span>Ver
                            ordenes</span>
                    </button>
                </a>

                {% if ordenesPendientes > 0 %}
                    <span id="noti">{{ordenesPendientes}}</span>
                {% endif %}

                <!-- <div class="exportarV">
                        <button class="excel">
                            <img src="{% static 'img/Export_excel_2.png' %}" alt="Exportar en excel" title="Exportar en excel">
                        </button>
                        <button class="pdf">
                            <img src="{% static 'img/Export_pdf_2.png' %}" alt="Exportar en pdf" title="Exportar en pdf">
                        </button>
                    </div>  -->
            </div>

            <!-- --------------------------------------------------------------- -->
            <!-- --------------------------------------------------------------- -->

            <div id="cuerpoVenta_pag1">
                <fieldset>
                    <legend>Elija el área de mesa</legend>

                    <select name="" id="listaAreasDeMesa" onchange="filtrarMesas(this.value)">
                        {% for areamesa in AreaMesa %}

                            <option value="{{areamesa.Id}}">{{areamesa.Nombre}}</option>
                        
                        {% endfor %}
                    
                        <!-- <option value="">Salón</option>
                        <option value="">Piscina</option>
                        <option value="">Ranchito</option> -->
                    
                    </select>
                </fieldset>

                <fieldset>
                    <legend>Elija la mesa</legend>

                    <div id="mesas">

                        {% for mesa in Mesas %}
                            <div class="grid_item">
                                <input type="radio" name="mesa" id="mesa{{mesa.Numero}}" onchange="activarBoton()" value="{{mesa.Id}}">
                                <label for="mesa{{mesa.Numero}}">{{mesa.Numero}}</label>
                            </div>
                        {% endfor %}

                    </div>

                </fieldset>

                <div id="AccionesPrimerPagina">
                    <label>
                        <input type="checkbox" id="check_combinar_mesas" name="combinar_mesas" value="true">
                        Combinar mesas
                    </label>
    
                    <button id="btn_siguiente" onclick="pagina2()" disabled>
                        <img src="{% static 'img/Flecha-Derecha.png' %}" style="width: 25px; height: 25px;" alt="Siguiente">
                        <span>Siguiente</span>
                    </button>
                </div>
            </div>
        </div>

        <!-- --------------------------------------------------------------- -->
        <!-- --------------------------------------------------------------- -->
        <!-- --------------------------------------------------------------- -->

        <!-- Pagina 2 (Se crean las ordenes) -->
        <div id="pag2">
            <!-- BOTONES REGRESAR Y BUSCAR -->

            <div id="capaventas" onclick="cerrarCarrito()"></div>

            <div id="acciones_pag2">
                <div id="accionesGenerales">
                    <button id="btn_volver" onclick="volver()">
                        <i class="fa-solid fa-arrow-left"></i>
                        <span>Volver</span>
                    </button>
                
                    <!-- Input de buscar -->
                    <input type="text" name="InputBuscarPlatillo" id="InputBuscarPlatillo" placeholder="Buscar consumo"
                        onkeyup="debouncedFiltrarPlatillos(this.value)">
                
                    <button id="btn_abrirListaOrdenes" onclick="abrirCarrito()">
                        <!-- <i class="fa-regular fa-square-list"></i> -->
                        <!-- <i class="fa-solid fa-bars"></i> -->
                        <!-- <i class="fa-regular fa-cart-shopping-fast"></i>                     -->
                        <i class="fa-solid fa-cart-shopping"></i>
                    </button>
                
                    <span id="notiPlatillosOrden">1</span>
                </div>
                <div id="accionesBusqueda">
                    {% for tipo in Tipos%}
                    <div class="form-check">
                        <input class="form-check-input" 
                               type="checkbox" 
                               name="tipos[]" 
                               value="{{ tipo.Id }}" 
                               id="tipo_{{ tipo.Id }}">
                               
                        <label class="form-check-label" for="tipo_{{ tipo.Id }}">
                            {{ tipo.Nombre }}
                        </label>
                    </div>
                    {% endfor %}
                </div>

                <!-- <img src="{% static 'img/List2.png' %}" style="width: 20px; height: 20px;" title="Crear orden"></img> -->
            </div>

            <!-- Se muestran todos los platillos -->
            <div id="VPlatillos">

                {% for Tipo in Tipos %}

                <h3 style="justify-self: center;">{{Tipo.Nombre}}</h3>

                <div id="PlatillosVenta">
                    {% for platillo in Tipo.Platillos.all %}
                    
                    <!-- Se muestra un platillo -->
                    <div class="vplatillo" id="platillo{{platillo.Id}}">
                        <div class="datoPlatillo">
                            <button data-toggle="modal" data-target="#MostrarDetalleConsumo" style="position: absolute; align-self: end;" onclick="PonerInfoConsumo('{{platillo.ImagenUrl}}', '{{platillo.Nombre}}', '{{platillo.IdTipoPlatillo.Nombre}}', '{{platillo.Descripcion}}', '{{platillo.Precio}}')">Info</button>

                            {% if platillo.ImagenUrl != "" %}
                                <img src="/media/{{ platillo.ImagenUrl }}" alt="Imagen de {{platillo.Nombre}}">
                            {% else %}
                                <img src="{% static 'img/ProductoSinFoto.png' %}" alt="">
                            {% endif %}
                        </div>

                        <div class="accionesPlatillo">
                            <span class="nombrePlatillo">{{ platillo.Nombre }}</span>
                            <span class="precioPlatillo">C${{ platillo.Precio }}</span>

                            <fieldset>
                                <legend>Cantidad</legend>
                            
                                <div class="cantidad">
                            
                                    <!-- Botones input para cantidad -->
                                    <button id="less" onclick="cambio('{{platillo.Id}}', 0)">-</button>
                                    <input type="number" id="{{platillo.Id}}" value="0" disabled>
                                    <button id="plus" onclick="cambio('{{platillo.Id}}', 1)">+</button>
                            
                                </div>
                            </fieldset>
                            
                            <div class="botonesPlatillo">
                                <button class="btninfoPlatillo">
                                    <img src="{% static 'img/info2.png' %}" alt="" style="width: 15px; height: 15px; padding: 1px;">
                                </button>
                            
                                <button class="btnaddCarrito" id="addcarrito{{platillo.Id}}"
                                    onclick='addCarrito("{{platillo.Id}}", "{{platillo.Nombre}}", "{{platillo.Precio}}")' disabled>
                                    <img src="{% static 'img/carrito.png' %}" alt="" style="width: 20px; height: 20px;">
                                    <span style="transform: translateY(-5px);">Agregar</span>
                                </button>
                            </div>
                        </div>
                    </div> <!-- Cierre vplatillo -->
                    
                    {% endfor %}
                </div>
                
                {% endfor %}

            </div> <!-- Cierre Vplatillos de página 2 -->

            <!-- Inicio Ordenes -->
            <div id="Ordenes">
                <div class="separador"></div>

                <!-- --------------------------- -->

                <div class="encabezado_ordenes">
                    <i class="fa-solid fa-angles-right fa-lg" id="iconoCerrarCarrito" onclick="cerrarCarrito()"></i>
                    <span>Ordenes</span>

                    <button data-toggle="modal" data-target="#InfoCrearOrden">info</button>
                </div>

                <!-- --------------------------- -->

                <!-- animate__fadeIn -->

                <div id="cuerpo_ordenes">

                    <!-- La orden es cada detalle de las ordenes -->
                    <!-- -------------------------- -->

                    <!-- <div class="orden">
                        <span>Deditos de pescado</span>
            
                        <div class="detalleorden">
                            <span>Subtotal: C$450</span>
                            <span style="margin-left: auto;">Cantidad: 1</span>
                        </div>
            
                        <div class="botonQuitar">
                            <button class="btnQuitar">Quitar</button>
                        </div>
                    </div> -->

                </div>

                <!-- --------------------------- -->

                <div class="pie_ordenes">
                    <div class="total">
                        <span>Total: C$<span id="preciototal">0</span></span>
                    </div>
                    <div class="botonesOrden">

                        <button id="btnAgregarOrden" onclick="agregarOrden()" disabled>
                            <i class="fa-solid fa-clipboard-list"></i>
                            <span>Agregar orden</span>
                        </button>

                        <button class="btnLimpiar" onclick="limpiarOrdenes()">
                            <img src="{% static 'img/Limpiar.png' %}" style="width: 20px; height: 20px;"
                                title="Limpiar orden">
                            <span>Limpiar</span>
                        </button>
                    </div>
                </div> <!-- Cierre pie ordenes -->
            </div> <!-- Cierre Ordenes -->
        </div>
    <!-- </form> -->
</div>

<script src="//code.jquery.com/jquery.min.js"></script>
<script src="app/js/handleCounter.js"></script>

<script src="{% static 'js/venta.js' %}"></script>

{% endblock %}