#encabezado_inventario {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    padding: 25px 40px 0px 40px;
}

#contenedorIzquierdoEncabezadoInventario {
    display: flex;
    width: 70%;
}

#contenedorDerechoEncabezadoInventario
{
    width: 30%;
    display: flex;
    justify-content: end;
}

#contenedorCompletoEncabezadoInventario {
    display: none;
    width: 100%;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.btnExportar {
    margin-left: 20px;
    background-color: white;
    border-radius: 7px;
    padding: 0 15px;
    border-color: rgb(255, 130, 150);
    color: #d92644;

    cursor: pointer;

    transition: background-color ease .3s;
}

.btnExportar:hover {
    background-color: hsl(359, 89%, 97%);
}

.btnExportar:disabled {
    background-color: hsl(359, 10%, 97%);
    border-color: hsl(350, 10%, 75%);
    color: hsl(350, 10%, 70%);
    cursor: initial;
}

.btnExportar:disabled svg path {
    fill: hsl(350, 10%, 70%) !important;
    cursor: initial;
}

.btn_confirmation_mi_color {
    background-color: #ff6464 !important;
    border-color: #ff6464 !important;
    color: white !important;
}

.form-control::placeholder {
    color: #888888;
}

#btnEnviarPorCorreo {
    width: 190px;
    height: 35px;
    display: flex;
    align-items: center;
    /* line-height: 6px; */
    justify-content: center;
    background: hsl(24, 98%, 54%);
    border-color: hsl(24, 98%, 50%);
    color: white;
    border-radius: 10px;
    padding: 4px 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px;
    display: inline-block;
    cursor: pointer;
    transition: ease .2s;
}

/********************************************************************/
/**************************** A G R E G A R ****************************/
/********************************************************************/

.LabelArchivo{
    font-size: medium; 
    text-align: center; 
    background-color: #6c757d; 
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    color: white;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 0;
}

#agregar {
    justify-self: flex-start;
    width: 180px;
    height: 40px;
    color: white;
    background: rgb(255, 100, 100);
    border-color: rgb(255, 130, 150);
    border-radius: 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px;

    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color ease .3s;
}

#agregar:hover {
    background: rgb(255, 120, 110);
    border-color: rgb(255, 170, 120);
}

/* #agregar span {
    width: 100%;
    height: 100%;
} */

::placeholder {
    color: rgb(230, 210, 210);
}

/********************************************************************/
/***************************** B U S C A R *****************************/
/********************************************************************/

#buscar {
    margin-left: 3%;
    width: 30%;
    height: 45px;
    border-color: rgb(255, 100, 100);
    border-radius: 10px;
    padding-left: 15PX;
    font-size: 25px;
    color: rgb(180, 50, 50);
    justify-self: flex-start;
}

#buscar:hover {
    border-color: rgb(205, 50, 50);
}

#buscar:focus-visible {
    outline-color: rgb(200, 100, 100);
}

/********************************************************************/
/*********************** S E L E C C I O N A R ***************************/
/********************************************************************/

/* #listaInventario {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
} */

/* Flechita del select */
/* #listaInventario::-ms-expand {
    display: none;
    background-color: red;
} */

#listaInventario:hover {
    background: rgb(255, 245, 245);
    border-color: rgb(230, 100, 50) rgb(255, 150, 100) rgb(255, 150, 100) rgb(230, 100, 50);
}

#listaInventario {
    width: 22%;
    min-width: 155px;
    height: 40px;
    margin-left: 20px;
    border-color: rgb(200, 50, 50) rgb(255, 100, 100) rgb(255, 100, 100) rgb(200, 50, 50);
    border-radius: 10px;
    padding-left: 15px;
    font-size: 20px;
    color: #821414;
    outline-color: rgb(200, 100, 100);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px;
    cursor: pointer;
}

#cuerpoInventario {
    overflow: auto;
    padding: 10px 20px;
    margin: 0 40px;
    border-radius: 15px;
    background-color: #FFF;
    border: solid 4px #F5A3A3;
    /* box-shadow: 2px 2px; */
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
    height: 75vh;
    z-index: -3;

    transition: all .15s ease;

    display: flex;
    flex-direction: column;
}

#cuerpoInventario::-webkit-scrollbar {
    width: 0;
}

.dataTables_scrollBody::-webkit-scrollbar {
    width: 0;
    background: #ffffff;
}

.dataTables_scrollBody::-webkit-scrollbar-thumb {
    background: rgba(255, 200, 200, 1);
    border-radius: 10px;
}

a .paginate_button .current {
    background-color: red;
}

/* .DataTables_wrapper {
    height: 400px;
} */

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    color: rgb(100, 100, 100) !important;
    background: rgb(255, 255, 255);
    border-color: rgb(100, 100, 100);
    border-radius: 10px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: white !important;
    background: rgb(100, 100, 100);
    border-color: rgb(150, 150, 150);
}

/* .tablaInventario {
    height: 50vh;
} */

.tablaInventario thead tr th {
    font-weight: bolder;
    font-size: large;
}

.tablaInventario tbody tr td {
    font-family: monospace;
}

/* Todos los botones */
.actionButton {
    width: 35px;
    height: 35px;
    display: inline-block;
    margin: 0 3px;
    cursor: pointer;
    border-radius: 8px;
    background: transparent;
}

.btnEditar:hover, .btnDetalles:hover{
    background-color: rgb(255, 255, 200);
}

/* Campo de acciones */
.actions {
    display: flex;
    justify-content: left;
}

/* -------------------------------------- */
/* Detalle y Editar */
.btnEditar, .btnDetalles {
    border-color: #ffBA4A;
}

/* Eliminar */
.btnEliminar {
    border-color: hsl(0, 100%, 79%);
}

.btnEliminar:hover {
    background-color: hsl(0, 100%, 95%);
}

.btnRestablecerPass {
    border-color: #75c7f0;
}

.btnRestablecerPass:hover {
    background-color: hsl(200, 80%, 95%);
}

#iconoCopiarPass {
    transition: all .5s ease;
}

/* -------------------------------------- */

/*
#FFBA4A
*/

/* E X P O R T A R */

.exportar .excel
{
    height: 40px;
    background: hsl(120, 52%, 98%);
    border-color: #66CC66;
    color: #66CC66;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px;
}

.exportar .pdf {
    height: 40px;
    background: hsl(0, 100%, 98%);
    border-color: rgb(230, 150, 150);
    color: #e69696;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px;
}

.exportar.row {
    margin-left: 0;
    margin-right: 0;
}

.exportar .pdf:hover {
    background: hsl(0, 100%, 96%);
}

.exportar .excel:hover {
    background: hsl(120, 52%, 95%);;
}

.exportarP {
    margin-left: 20px;
}

.exportarP .pdf, .excel {
    width: 50px;
    height: 40px;
    background: rgb(255, 255, 255);
    border-color: rgb(230, 150, 150);
    border-radius: 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px;
}

.exportarP .pdf:hover {
    background: rgb(255, 240, 240);
}

.exportarP .excel:hover {
    background: rgb(255, 240, 240);
}


/**** AUTO DROPDOWN ****/

/* Contenedor principal del dropdown */
.custom-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    margin-left: 20px;
}

/* El botón que parece un select */
.dropdown-trigger {
    background-color: white;
    color: hsl(350, 70%, 40%);
    border: 2px solid hsl(350, 100%, 45%);
    padding: 8px 15px;
    border-radius: 7px;
    min-width: 160px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* La lista de opciones (oculta por defecto) */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100%;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 100;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Elementos de la lista */
.dropdown-menu li a {
    color: black;
    /* padding: 5px 15px; */
    text-decoration: none;
    display: block;
}

/* .dropdown-menu li a:hover {
    background-color: #f1f1f1;
} */

/* MAGIA: Mostrar al pasar el mouse sobre el contenedor */
.custom-dropdown:hover .dropdown-menu,
.custom-dropdown.is-active .dropdown-menu {
    display: block;
}

.dropdown-trigger:focus {
    outline: 2px solid #9C090B; /* Color rojo como tu icono */
}

.dropdown-menu li:has(a:focus) {
    background-color: #9C090B; /* El rojo de tu icono */
}

.dropdown-menu li:has(a:focus) a {
    color: white;
    outline: none;
}

/* - - - - - - - - - - - - - - FIXES - - - - - - - - - - - - - - - - */

/* @media (max-width : 800px) {
    #contenedorIzquierdoEncabezadoInventario {
        display: none;
    }

    #contenedorDerechoEncabezadoInventario {
        display: none;
    }

    #contenedorCompletoEncabezadoInventario {
        display: flex;
        flex-wrap: wrap;
    }
} */