* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.izquierda {
    width: 50%;
    height: 100%;
}

.derecha {
    width: 50%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: block;
}

.cuadro {
    background-color: rgb(255, 255, 255);
    width: 60%;
    height: 80%;
    border-radius: 25px;
    display: flex;
    align-items: flex-start;
}

/* #contenido {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(45deg, rgb(255, 120, 100), rgb(255, 150, 100), rgb(255, 180, 150), rgb(255, 170, 150));
    background-size: 600% 600%;
    position: absolute;
    animation: cambiar 12s ease infinite;
    display: flex;
    align-items: center;
    justify-content: center;
} */

#contenido {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(180deg, rgb(150, 0, 0), rgb(200, 50, 0), rgb(200, 60, 0), rgb(150, 0, 0));
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 100%;
    padding: 5% 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario {
    width: 100%;
    height: 100%;
}

#imglogo {
    width: 45%;
    height: auto;
    transition: all 3s;
}

/*********************************************************/
/****************** F O R M U L A R I O ******************/
/*********************************************************/

.form {
    position: absolute;
    width: 60%;
    /* overflow: hidden; */
    text-align: left;
    padding-left: 4%;
}

.form_in {
    width: 70%;
    position: relative;
    margin: 0 25px 25px 0;
}

.campo {
    width: 50%;
    display: block;
    background: none;
    border: none;
    outline: 0;
    padding-top: 20px;
    padding-left: 5px;
    color: rgb(230, 130, 130);
    font-size: 25px;
    transition: all 0.3s ease;
    border-bottom: 1px solid rgb(200, 130, 130);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.lbl {
    position: absolute;
    top: 23px;
    left: 0;
    font-size: 20px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgb(200, 130, 130);
}

.form .campo:focus~.lbl, .form .campo:valid~.lbl {
    transform: translateY(-20px);
    font-size: 15px;
    color: rgb(230, 130, 130);
}

.campo:focus,
.campo:valid {
    border-bottom: 1px solid rgb(230, 130, 130);
}

.txt {
    position: relative;
    top: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    color: rgb(245, 127, 127);
    text-align: center;
}

.txt a {
    color: bisque;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.txt a:hover {
    color: rgb(255, 200, 160);
}

.form_button {
    margin-top: 60px;
    position: relative;
    width: auto;
    display: flex;
    justify-content:flex-start;
}

.btn_login {
    margin-left: 5%;
    width: 25%;
    height: 40px;
    background: rgba(120, 20, 20, 1);
    /* position: absolute;
    z-index: 1; */
    border: none;
    border-radius: 15px;
    color: rgb(255, 220, 220);
    cursor: pointer;
    /* overflow: hidden; */
    transition: all .3s ease-in-out;
}

.btn_login:hover {
    background: rgba(150, 50, 50, 1);
}


/*******************************************************************************************/
/*******************************************************************************************/
/*******************************************************************************************/

@media (max-width : 1100px) {
    #imglogo {
        width: 50%;
        transition: all 3s;
    }

    .logo {
        padding: 6% 0;
    }
}

@media (max-width : 950px) {
    #imglogo {
        width: 55%;
        transition: all 3s;
    }

    .logo {
        padding: 7% 0;
    }
}

@media (max-width : 800px) {
    #imglogo {
        width: 35%;
        transition: all .5s;
    }

    .izquierda {
        display: none;
        transition: all 2s;
    }

    .form {
        width: 140%;
        padding-left: 5%;
    }

    .derecha {
        width: 100%;
    }

    .logo {
        padding: 8% 0;
    }
}

@media (max-width : 750px) {
    #imglogo {
        width: 40%;
        transition: all 3s;
    }

    .logo {
        padding: 9% 0;
    }
}

@media (max-width : 650px) {
    #imglogo {
        width: 45%;
        transition: all 3s;
    }

    .logo {
        padding: 10% 0;
    }
}

@media (max-width : 550px) {
    #imglogo {
        width: 50%;
        transition: all 3s;
    }
}